[2016-07-13 17:04] jtanner-msft commented on #642
Closing as I haven't seen any response.  If you still see this with the latest development branch please let us know.

[2016-07-13 17:04] #642 closed

[2016-07-13 17:15] jtanner-msft commented on #599
Closing as I haven't seen any feedback.  If you believe this is still needed please clarify.

[2016-07-13 17:15] #599 closed

[2016-07-13 17:22] chrit-msft commented on #664
@tlautens can you confirm is you are still seeing this issue after updating your repository including submodules?  On my end I can no longer reproduce the segfault using the latest pull.

[2016-07-13 20:11] jtanner-msft commented on #684
Hi Oriolpinol,

  Over the weekend Zoltan checked in a fix for the reconnect socket issue, so I believe that should help to address the socket close problem you were seeing:
https://github.com/Azure/azure-iot-sdks/issues/653

  Please sync the latest develop branch (and subprojects) to see if that fix has also resolved the problem you were observing.

  If it doesn't please let us know as well.

[2016-07-13 22:19] davidv9345 opened #707 "[C][Yocto Linux][AMQP] transport authentication timed out (Help needed)"
Hi Guys,

I cannot seem to get the AMQP version of the simple sample running on my Intel Edison. At the moment HTTP works, however as mentioned, I am having trouble getting the AMQP to work.

This is my error message
---------------------------------------------------
Starting the IoTHub client sample AMQP...
Info: IoT Hub SDK for C, version 1.0.9
IoTHubClient_SetMessageCallback...successful.
IoTH

[2016-07-13 23:09] markrad commented on #698
Hi @cnvery,

I'm not particularly familiar with Eclipse but, speaking in general of development IDEs, you have three tasks in order to build against a third party code base such as the Azure-IoT-SDKs.

1. Build the SDK as per the instructions
2. In your IDE tell it the location of any required header files
3. In you IDE tell it the location of any required libraries

It is not a good idea to extra

[2016-07-13 23:47] markrad commented on #700
Hi @zafields,

To be clear, you are following this document: https://github.com/Azure/azure-iot-sdks/blob/master/c/doc/SDK_cross_compile_example.md?

The toolchain effectively mimics the file system on the Raspberry Pi 2 so a reorganization is unlikely. I ran a Raspberry Pi 2 cross compile in the last week or two so I know that it works as described. I have not ever tried to use these instructions

[2016-07-14 05:22] irjudson opened #708 "New issue: Captilazed Device Name fails"
iothub-explorer create Thingy --connection-string fails, when
iothub-explorer create thingy  --connection-string succeeds.

[2016-07-14 13:43] BlueBasher commented on #653
Could you verify that you indeed also see that the device sends a ping to the server every 120 sec?
We're currently testing #655 with the version from the develop branch and it looks like it is now sending a ping every 60 seconds.
We've been looking into the proton library as well but haven't found the reason yet why this is.
Are these pings generated by the proton library itself or are they gener

[2016-07-14 15:32] chrit-msft commented on #645
@oriolpinol I have run the java send_event sample against both MQTT and AMQP.  There is a clear difference in behavior.  For MQTT I ran 8100 messages to get over the limit, reset the command and ran an additional 100 events.  The behavior I saw is that it just stopped sending the events after about the 10th event with no message nor warning, it just stopped sending events.  I tested AMQP to determ

[2016-07-14 15:51] chrit-msft commented on #646
@lmussier just to provide an update, we are working with the code owners on what the side effects, if any, will be introduced from modifying how we handle locking in this code path.  I will provide another update with our results.

[2016-07-14 18:27] jtanner-msft commented on #568
Hi rainmakerho,

  As you suggested I’ve tried to repro the issue you were seeing with a Rpi2, but I chose to run the slightly newer OS version 10.0.14376.0.  I’ve tested within the latest develop branch from github as of this past Friday.

  Next, to keep things simple I modified the UWP Sample app which is included in the solution iothub_cshare_deviceclient.sln with the following changes:

1.	Ch

[2016-07-14 20:36] chrit-msft commented on #665
@lmussier I have reproduced the failure you experienced and I will be following up with the code owner.  I will update you once I have heard back from the code owner.

[2016-07-14 20:47] chrit-msft commented on #602
@jsiegmund I am unable to hit this error, you don't have a callstack from one of your failures do you?

[2016-07-14 22:06] markrad commented on #588
Hi @wangxhere,

Since I don't have a device to reproduce this, resolving it will be difficult. For testing purposes only I would like you to turn off certificate validation. In the file azure-iot-sdks\c\azure-c-shared-utility\src\tlsio_openssl.c find the call to SSL_CTX_set_verify and change SSL_VERIFY_PEER to read SSL_VERIFY_NONE. Test this, let me know if it works and send me a network trace reg

[2016-07-14 22:18] markrad commented on #553
Hi @rtodosic

This is being addressed.

[2016-07-15 00:39] tameraw commented on #704
@lmussier - Yes there is a connection status. If you're simply looking at finding out what the status of a particular device is, you can use DeviceExplorer and look at your device under the management tab.
If you're looking at programatically getting the status, you can use our "Service" clients to do that.

**As example for c#:**
https://msdn.microsoft.com/en-us/library/microsoft.azure.devices.re

[2016-07-15 00:46] markrad commented on #707
Hi @davidv9345,

I'll take a look at this and see if I can help out.

_Mark Radbourne MSFT_

[2016-07-15 06:24] jsiegmund commented on #602
Nope but I can put some effort into getting one for you. Although last thing I remembered is that the stacktrace didn't give thay much info.

[2016-07-15 09:01] davidv9345 commented on #707
Thanks markrad!

[2016-07-15 13:04] BlueBasher commented on #655
We haven't seen the hanging sockets in our tests so the workaround/fix seems to fix the issue.
From my perspective this issue can be closed.

[2016-07-15 17:20] pierreca commented on #708
Hi @irjudson

Can you paste the whole trace of the problem? especially the error? I have not been able to reproduce the issue, and have been able to create devices with all sorts of casing without problem.

Thanks!

[2016-07-15 17:34] stefangordon commented on #708
Also confirmed there is no problem here.   Presumably the device already existed.  Due to case sensitivity it worked with a different cast.

The message returned on a conflict is a bit of a bug though, and probably increases user confusion:
![image](https://cloud.githubusercontent.com/assets/4087345/16883185/8cb7353c-4a77-11e6-86ac-4cb3a38b0936.png)
which should presumably be `conflict`

[2016-07-15 17:43] pierreca commented on #708
@stefangordon yes, this is a known issue that will be fixed with the next release.

[2016-07-15 21:23] Vingutt commented on #705
@merjadok Thank you for submitting this question. We'll research it and get back to you.

[2016-07-15 21:25] Vingutt commented on #705
@merjadok Thank you for submitting this question. We'll research it and get back to you.

[2016-07-15 21:28] Rohit-MSFT commented on #705
@merjadok Thankyou for submitting your question. We'll research it and get back to you.

[2016-07-16 00:17] dluc opened #711 "[Node] Parsing 409 error when creating a device that already exists"
While using the IoT hub explorer, if one tries to create the same device twice, the error on the console is parsed incorrectly, and looks like (note the truncated text):

The service returns a status code 409, which is not mapped in [azure-iot-sdks/node/service/lib/registry_http_errors.js](https://github.com/Azure/azure-iot-sdks/blob/master/node/service/lib/registry_http_errors.js) (the code actua

[2016-07-16 00:43] pierreca commented on #711
Thanks for reporting the issue. it was fixed in https://github.com/Azure/azure-iot-sdks/commit/b1d58c4e0a7684ebcb1f8e4a11f80920dac58267 and updated packages should be released within the next couple of days.

[2016-07-16 00:43] #711 closed

[2016-07-16 12:32] ebeistle opened #713 "[C][MQTT]Message Tracking broken in simplesample_mqtt.c"
A change was made in the "Fix for Azure IoT SDK broken C samples" that should be reverted.  The original code worked, the new code does not.

The original code uses the callback context pointer to pass an actual value.  Instead of using the pointer to point to an object, it uses a trick of type casting to repurpose it to pass a value directly.  Perhaps it deserved some comments explaining the tric

[2016-07-16 14:35] Injac opened #714 "Node.js IoT SDK Documentation Issues"
The documentation for node.js , is missing important information's, like the fact, that devices have to be registered first and that the connection string has to be taken from a device to actually make this sample work:

[azure-iot-device](https://github.com/Azure/azure-iot-sdks/blob/master/node/device/core/readme.md)

This leads to misunderstandings and misinterpretations of the current state of

[2016-07-17 17:33] cnvery commented on #685
Hi @markrad,

I am confused about where the files should be put at.

Is this what you mean, where all files are put on same folder as per below?

**Project1 Folder**, there are following files:
_jsmn.c
jsmn.h
Project1.c
makefile_

Thanks!

[2016-07-17 19:52] codehArt opened #715 "azure iot hub with arduino"
Hello i am a newbie to azure IoT,
is there any way to integrate azure IoT with Arduino directly???
please help me I couldn't find out sample, document or anything regarding Arduino integration on this repo as well as on azure IoT hub official page.

[2016-07-18 03:27] jonbgallant commented on #715
https://azure.microsoft.com/en-us/documentation/samples/iot-hub-c-thingdev-getstartedkit/

https://github.com/arduino-libraries/AzureIoTHub

[2016-07-18 09:46] AlexandreMarechalSE opened #716 "platform_init() linux implementation always yields the same result"
platform_init() linux implementation always yields the same result:

File: azure-iot-sdks/c/azure-c-shared-utility/adapters/platform_linux.c
Function: platform_init() (line 8)

Implementation suggestion:

int platform_init(void)
{
return error_conversion_function(tlsio_openssl_init());

}

[2016-07-18 11:17] rajvael commented on #580
hi @markrad

UTC time: 11:06 AM i start executing the program

My Current timezone: IST

Sample file attached:
[iothub_client_sample_amqp.txt](https://github.com/Azure/azure-iot-sdks/files/368867/iothub_client_sample_amqp.txt)

Here is the output I got:

$$ ./iothub_client_sample_amqp
Starting the IoTHub client sample AMQP...
Info: IoT Hub SDK for C, version 1.0.7
IoTHubClient_SetMessageCallback..

[2016-07-18 14:54] jebrando commented on #713
This will be fixed in the current release and will hit development on Tuesday.

[2016-07-18 14:54] #713 closed

[2016-07-18 15:24] mamokarz commented on #715
Hi codehArt, depend of each Arduino are you talking about. You can find tutorial for Feather M0 and for Adafruit Huzzah on https://azure.microsoft.com/en-us/develop/iot/starter-kits/.

[2016-07-18 19:39] markrad commented on #416
Hi @lmussier,

This issue has been addressed. Currently you can only find them in the develop branch. Feel free to reopen this issue if you find any problems with this change.

_Mark Radbourne MSFT_

[2016-07-18 19:39] #416 closed

[2016-07-18 19:44] markrad commented on #700
@zfields are you still having problems with your cross compile?

[2016-07-19 01:10] markrad commented on #698
Hi @cnvery,
Do you need further assistance with this issue?

_Mark Radbourne MSFT_

[2016-07-19 03:24] rainmakerho commented on #568
Hi Jtanner,
   I use two console to test(SendC2DMessage and ReadC2DMessage).

*** SendC2DMessage create ServiceClient instance first and loop send message everydays.
static void Main(string[] args)
{
	Console.WriteLine("Send Cloud-to-Device message\n");
	Stopwatch stopwatch = new Stopwatch();
	stopwatch.Start();
	serviceClient = ServiceClient.CreateFromConnectionString(connectionString, TransportT

[2016-07-19 07:23] cnvery commented on #698
Hi @markrad,

I knew that I cannot extract portions of the SDK code and put them in my project.

There are number of different header/include files in _azure-iot-sdks_ folder.

These files are located under different folders such as _azure-c-shared-utility_, _azure-uamqp-c_, _azure-umqtt-c_, _iothub_client_ and _serializer_.

I tried to include directory for _azure-iot-sdks_ folder, but it does no

[2016-07-19 14:50] zerox1212 opened #717 "[PYTHON] Exceeding IoT Hub Daily Limit Doesn't Throw Exception"
I'm currently using the Free tier of IoT Hub for testing. I turned up the message send frequency of IoT Hub client SDK to consume all the daily messages to see what happens. I am using AMQP.

After the daily limit is exceeded, the client continues to send messages and get's a call back that it succeeded. It seems that IoT Hub responds, but doesn't actually host the message.

The worst part about t

[2016-07-19 17:29] chrit-msft commented on #717
@zerox1212 Thank you for opening this issue.  I have been investigating the Java issue already and will add this to my investigation.  As soon as I have more information I will share it with you.

[2016-07-19 17:29] zfields commented on #700
@markrad Thanks for checking back. I haven't had an opportunity to revisit this. I do have `curl` and `openssl` installed on the pi, so I left this for the moment.

I've noticed the toolchain has a separate folder for the raspberry pi 3, so I thought I would need to attempt to extrapolate the instructions you've provided in your documentation for the tools in the raspberry pi 3 section.

I'll resp

[2016-07-19 17:31] chrit-msft commented on #701
@RamPrasadRP Thank for your raising this issue.  I have an ARM device that I will try to get a local repro on and let you know the results.

[2016-07-19 20:46] Rohit-MSFT commented on #716
@merjadok Thankyou for submitting your question. We'll research the issue and get back to you.

[2016-07-19 22:02] anhashia commented on #649
Closing this. Please let us know if you're still having issues. Thanks.

[2016-07-19 22:02] #649 closed

[2016-07-19 22:13] chrit-msft commented on #701
@RamPrasadRP This is probably an issue with your certificate validation, can you try using the this call from the remote_monitoring sample (remove the ifdef)?
[code]
the only issue is you need to copy the array of certs from certs.c into your file (code).

[2016-07-20 00:05] swarlyyy opened #718 "remote_monitoring CMakeLists.txt File Missing"
Hi!

When trying to run the remote_monitoring program with the command below, I get an error:
Command: "sudo ~/cmake/serializer/samples/remote_monitoring/remote_monitoring"
Error: "sudo: /home/pi/cmake/serializer/samples/remote_monitoring/remote_monitoring: command not found"

I tried navigating to the directory and running cmake directly. The directory that appears to be the right one is:
"/home/

[2016-07-20 00:37] swarlyyy commented on #718
I just tried adding the CMakeLists.txt file "c/serializer/samples/remote_monitoring/CMakeLists.txt" to the remote_monitoring.dir directory and running cmake. I get the new error below:

"Unknow CMake command "compileAsC99" ... "Configuring incomplete, errors occurred!"

To help, I've attached the CMakeOutput.log file.
[CMakeOutput.log.txt](https://github.com/Azure/azure-iot-sdks/files/372687/CMake

[2016-07-20 08:06] AcoemDlu opened #719 "[c][x86][AMQP SEC_E_UNTRUSTED_ROOT error"
Iothub_client_sample_amqp project compiled with VS2015.
Without Sdk compiled: OK
With Sdk compiled:
**Error:**  SEC_E_WRONG_PRINCIPAL for InitializeSecurityContext()

![image](https://cloud.githubusercontent.com/assets/20553490/16979443/74cfb2bc-4e61-11e6-9b26-fa8c135d4522.png)

Can you help me.
Thanks.

[2016-07-20 10:01] kevinledinh opened #720 "[Java SDK] Memory optimization while using org.apache.qpid.proton"
Hi Azure team,

I am currently working to integrate the Azure IoT Hub into an Android board (4.4.2). I am having some difficulty with the memory management while using org.apache.qpid.proton .

Generally, after running the app over night, there are a lot of duplicated instances of Strings, byte arrays, etc being retained on the heap.

A quick summary: after 16 hours of run-time, the heap grew from

[2016-07-20 12:52] Agilart opened #721 "Python SDK compilation on BeagleBone"
HI there,
I'm trying to compile the Python SDK directly on my BeagleBone Green, but without success:

c++: internal compiler error: Killed (program cc1plus)
Please submit a full bug report,
with preprocessed source if appropriate.
See <file:///usr/share/doc/gcc-4.9/README.Bugs> for instructions.
python/src/CMakeFiles/iothub_client_python.dir/build.make:62: recipe for target 'python/src/CMakeFiles/

[2016-07-20 13:52] chrit-msft commented on #664
@tlautens I will be closing this issue since I am unable to reproduce this behavior.  If you encounter this behavior again please reopen the issue.

[2016-07-20 13:52] #664 closed

[2016-07-20 15:32] lmussier commented on #704
@tameraw If I understand well, I can't get connection status from the device side (the iothub_client library) I have to use the service SDK to ask, from my device if I'm connected or not, that's it?
There is not simple way to know if the device is connected or not ?

For me IoTHubClient_CreateFromConnectionString does not expose a way to know if the connection is effective or not.

[2016-07-20 19:19] basimolimajeed opened #723 "Windowc c sample exception"
When I am running the iothub_client_sample_amqp sample, I get the following error. Any ideas?
Thanks

Unhandled exception thrown: read access violation.

handleData was 0xFFFFFFFFFFFFFFEF.

[2016-07-20 20:54] zerox1212 commented on #677
Is this fixed yet? The same issue occurs on Python and Windows.

This python code is from the sample (message_id changed to a GUID)

[code]

This shows up in the IoT Hub stream.
[code]

I would really like to use the IoT Hub header for message ID and Correlation ID.

[2016-07-20 21:33] anhashia commented on #719
Looking into the issue

[2016-07-20 21:40] ewertons commented on #677
Hi @lmussier , the fix is on the way.
There were a couple other tasks that had to be prioritized this past week.

Regarding the repro on Python, it uses the same C library underneath, so the issue should be expected to be fixed with the same fix for the C client.

[2016-07-20 21:43] markrad commented on #718
Hi @swarlyyy,

Can you please provide me a little more information about your environment? Are you building on Windows, Linux, something else? Did you build support for all of the protocols (AMQP, MQTT, HTTP)?

I'm not sure why you don't have a CMakeLists.txt in your clone of our repository. As you can see [here](https://github.com/Azure/azure-iot-sdks/blob/master/c/serializer/samples/remote_monit

[2016-07-20 22:18] swarlyyy commented on #718
Hi @markrad ,

Thanks for your reply! I'm building on Linux, Raspian Jessie OS. Sorry, but I don't know how to answer your question about the different protocols. I don't remember having an option to choose which protocol...but that's probably because I'm just ignorant about them.

I actually tried starting over with a different GitHub repository, but it seems almost identical to the other one and

[2016-07-20 22:20] gurtaj commented on #211
Hi. I am trying to install iot hub explorer on my Raspberry Pi using the following
<img width="641" alt="screen shot 2016-07-20 at 6 11 32 pm" src="https://cloud.githubusercontent.com/assets/20566866/17004947/83f64fe6-4ea5-11e6-9374-132427c59ebc.png">

but as soon as I try to register my device using the command
iothub-explorer <iothub-connection-string> create <device-name> --connection-string
,

[2016-07-20 22:57] markrad commented on #718
Hi @swarlyyy,
The issue with the get started kit is this step:
[code]
This smashes the remote_monitoring directory. In my opinion it is badly designed and I will take this up with the page owner. Try this:
1) Get a new clone of the Azure-IoT-SDKs but clone it from the develop branch. There is an issue with the build on the Raspberry Pi that has been fixed in the develop branch but not the master.

[2016-07-21 00:50] swarlyyy commented on #718
Hi @markrad ,

Thank you very much for the explanation and clear instructions to try!

The build actually crashed the RasPi the first time I ran it at 34% (Building C object azure-c-shared-utility/tests/httpapiexsas_...). The build hung at 32% for a few minutes with the mouse and everything frozen, got to 34% and hung again before shutting down. But, it got further the second time.

The second tim

[2016-07-21 01:05] markrad commented on #707
This seems to be an issue on Yocto. Others have reported this. I am researching it.

[2016-07-21 01:11] markrad commented on #685
Hi @cnvery,

Yes that is exactly what you need to do. Your BINS line would look like this:
[code]
You will also need to add:
[code]

You would also modify all instances of testapp to be whatever you want your final executable to be called.

_Mark Radbourne MSFT_

[2016-07-21 01:18] markrad commented on #650
Hi @aviiandevil,

The build script has been modified to address the build error that you are seeing. This is currently only available in the develop branch. It will be merged into master in the next week or so.

I have closed your issue. I you are still having problems feel free to reopen it.

_Mark Radbourne MSFT_

[2016-07-21 01:18] #650 closed

[2016-07-21 06:44] mregen commented on #721
@Agilart I have seen such errors on Pi2 when swap space is low. Is there a way to increase the swap space similar to Pi2 #458?

[2016-07-21 08:16] Agilart commented on #721
@mregen,
thanks for the hint. The BeagleBone does not have Swap by default, so I did:
sudo mkdir -p /var/cache/swap/
sudo dd if=/dev/zero of=/var/cache/swap/swapfile bs=1M count=256
sudo chmod 0600 /var/cache/swap/swapfile
sudo mkswap /var/cache/swap/swapfile
sudo swapon /var/cache/swap/swapfile

This makes a temporary swap file, on reboot it won't be used.

I also stopped all services to free som

[2016-07-21 08:16] #721 closed

[2016-07-21 09:51] lmussier opened #725 "[C][Linux] CMAKE_BUILD_TYPE seems to be not used"
Hi,

Using cmake one should be able to set CMAKE_BUILD_TYPE to different values to build in, at least debug and release mode. I don't see any difference in the compile options when the SDk is build with CMAKE_BUILD_TYPE=Debug Vs. CMAKE_BUILD_TYPE=Release

I think (and don't try) if I use compileOption_C I might be able to pass flags like -Os -s to the compilation but I don't think this is the inte

[2016-07-21 12:51] AcoemDlu commented on #719
It's ok with the last sources

[2016-07-21 12:51] #719 closed

[2016-07-21 14:01] zerox1212 commented on #677
Thanks @ewertons . I'm actively working on a project that needs this so I'm looking forward to the fix.

[2016-07-21 15:36] mregen commented on #721
@Agilart Thanks for sharing instructions to fix the Beaglebone build!

[2016-07-21 16:04] isamllr commented on #707
+1

[2016-07-21 17:13] cnvery commented on #685
Hi @markrad,

I tried your method but it does not works.

**cmake** will only build default sample directories such as _simplesample_amqp_ and _simplesample_http_, ignoring new folder I created despite having these four files.

Instead, I tried on create **CMakeLists.txt** under same folder and it build successfully!!!

CMakeLists.txt Code:

I have one last question for this issue.

If I wish to a

[2016-07-21 17:52] Ivannnm commented on #707
Hello

I have the same problem with Intel Edison an IOTSDK for C (amqp):

~/azure-iot-sdks/c/cmake/iotsdk_linux/serializer/samples/simplesample_amqp# ./simplesample_amqp
Info: IoT Hub SDK for C, version 1.0.11
IoTHubClient accepted the message for delivery
Error: Time:Thu Jul 21 17:35:38 2016 File:/home/root/azure-iot-sdks/c/azure-c-shared-utility/src/consolelogger.c Func:consolelogger_log Line:31

[2016-07-21 19:05] markrad commented on #718
Hi @swarlyyy,

I think I know what the issue is. It's been fixed in the develop branch but has not yet made it to the master branch. The Raspberry Pi has four CPU cores so the build script attempts to utilize them all and passes jobs=$CORES where $CORES has a value of 4 as a parameter to make in build.sh. Unfortunately the Pi is too RAM constrained to run four build jobs simultaneously. If you edi

[2016-07-21 19:20] anhashia commented on #438
Change submitted to develop branch from **IsSharedAccessSignature_438** branch.

[2016-07-21 21:23] swarlyyy commented on #718
Hi @markrad ,

You were right! Making the change you recommended let the build end successfully. The results from the tests are below. Only four failed (I assume that's quasi-ok and expected):

"96% tests passed, 4 tests failed out of 96

Total Test time (real) =   3.81 sec

The following tests FAILED:
	27 - constbuffer_unittests (Failed)
	34 - httpapiex_unittests (Failed)
	41 - sastoken_unittests

[2016-07-21 23:05] anhashia commented on #723
Looking into the issue

[2016-07-22 00:57] anhashia commented on #725
Hi @lmussier
Different configuration types are supported as shown below
Let us take example of W32 samples for Windows 10
azure-iot-sdks\c\cmake\iotsdk_win32\CMakeCache.txt has
`CMAKE_CONFIGURATION_TYPES:STRING=Debug;Release;MinSizeRel;RelWithDebInfo`
Now open
azure-iot-sdks\c\cmake\iotsdk_win32\azure-c-shared-utility\ aziotsharedutil.vcxproj in VS 2015
You will see all **4 options** to build in t

[2016-07-22 08:49] kevinledinh commented on #720
Some additional info, AMQP is currently used to push data from the Android app to an IoT Hub.

Some updates, following an advice on this post ​http://stackoverflow.com/questions/38119446/why-would-i-want-to-find-duplicate-strings-with-hprof-viewer-and-analyzer, I've used a StringBuilder in org/apache/qpid/proton/amqp/transport/ErrorCondition.java for _description. It improves the memory usage a lo

[2016-07-22 08:52] kevinledinh commented on #720
Additional info, the package used in conjunction with the IoT Hub is proton-j-azure-iot-0.12.2

[2016-07-22 09:44] lmussier commented on #725
@anhashia I can't find azure-iot-sdks\c\cmake\ folder (searched here https://github.com/Azure/azure-iot-sdks/tree/develop/c)

I'll rename the issue since I search this for linux build. It may be clearer.

[2016-07-22 10:51] basimolimajeed commented on #723
This is what I get on debug

![x509](https://cloud.githubusercontent.com/assets/16608331/17055093/97b74194-5002-11e6-9f5f-9b0902359fa8.png)

[2016-07-22 15:10] davidv9345 commented on #707
Having tried ubilinux(Debian) on the board, all of the samples have successfully ran on all protocols.

From reading previous issues, I saw one person with the same problem, the solution was to pass down the certificates into the program and to update the openssl version from 1.0.1m to a higher version of 1.0.2g.

---> https://github.com/Azure/azure-iot-sdks/issues/507

I believe the problem is th

[2016-07-22 18:16] tameraw commented on #655
@BlueBasher - Thanks for confirming. Closing this issue.

[2016-07-22 18:16] #655 closed

[2016-07-22 18:41] anhashia commented on #653
Looking into this

[2016-07-22 18:48] anhashia commented on #637
Investigating this.

[2016-07-23 05:53] damienpontifex opened #727 "[Python]Install via pip"
Utilising the python sdk, it would be great if the azure-iot-sdk was able to be installed with pip. Thus making it more aligned with other libraries that a project may utilise.

[2016-07-23 06:42] tameraw commented on #657
Closing. Let us know if still having issues.

[2016-07-23 06:42] #657 closed

[2016-07-24 07:19] cnvery commented on #698
Hi @markrad,

I tell Eclipse IDE again by specifing location of all required header files and libraries.

The includes in Eclipse IDE is shown in [this image](https://s32.postimg.org/6n0aoy1yd/5345.jpg).

However, it is unable to reference for some variables despite all header/library are included, which is shown in [this image](https://s32.postimg.org/a8j3z8fn9/image.jpg).

May I know which part

[2016-07-25 14:20] AlexandreMarechalSE opened #731 "Websocket IO interface description not initalized correctly at declaraton"
commit 1ffa71c59c3b05a8e3a0e7b91bd0e90214878727

In file wsio.c, declaration and initialization of ws_io_interface_description:

[code]

but structure IO_INTERFACE_DESCRIPTION is defined in xio.h as below:

[code]

As a consequence, all the structure is shifted and concrete_io_setoption field is set to NULL.

This lead to xio_create() function to fail.

[2016-07-25 14:40] AlexandreMarechalSE commented on #731
wsio_retrieveoptions function is missing (and does not exist)

[2016-07-25 17:30] chrit-msft commented on #602
@jsiegmund I just wanted to touch base to see if you were able to capture that stack trace.  While it might not give much info I can always review it internally with the code owners.

[2016-07-25 17:39] chrit-msft commented on #684
@oriolpinol I will be closing this issue since there was a check-in that should have resolved this behavior.  If you see this behavior return please re-open this issue and reach out immediately.

[2016-07-25 17:39] #684 closed

[2016-07-25 17:45] pierreca commented on #708
Closing due to lack of information and unable to reproduce the error. Feel free to reopen if you run into this again.

[2016-07-25 17:45] #708 closed

[2016-07-25 22:50] lgarreta commented on #692
Hello,
I fixed that by changing the names of the deb repositories in the dir /etc/apt/sources.list.d
from  deb http://ppa.launchpad.net/aziotsdklinux/ppa-azureiot/ubuntu trusty main (WRONG)
deb http://ppa.launchpad.net/aziotsdklinux/ppa-azure-iot-sdk-c/ubuntu trusty main (RIGHT)

At the end, it creates the iothub_client.so

[2016-07-25 23:02] anhashia commented on #725
Hi @lmussier
Following cmake sub-directories will be created after your run corresponding build scripts
azure-iot-sdks\c\cmake\iotsdk_win32 (for Windows)
azure-iot-sdks/c/cmake/iotsdk_linux (for Linux)

For Linux, go to open **CMakeCache.txt** located at
azure-iot-sdks/c/cmake/iotsdk_linux/
This file is generated by **CMake** tool

Edit it to build type you want
`CMAKE_BUILD_TYPE:STRING=Debug `(ex

[2016-07-25 23:32] anhashia commented on #723
Hi @basimolimajeed
I wasn't able to reproduce the issue using existing iothub_client_sample_amqp sample where I used SharedAccessKey in connection string.
Exception that you are hitting is related to using **X.509 certificate** option covered under https://azure.microsoft.com/en-us/documentation/articles/iot-hub-sas-tokens/  Are you using X.509 certificate to authenticate a device with IoT Hub ?

[2016-07-26 00:35] anhashia commented on #653
Hi @BlueBasher
I wasn't able to reproduce the issue on latest develop branch using Java AMQP sample. I see ping sent by the Java AMQP client every 120 seconds. Can you please double check traffic on port **5671** (AMQP over SSL) the traffic sent by the client ? How large is your TCP ping packet length sent by the client ?

[2016-07-26 06:04] markrad commented on #685
Hi @cnvery,
I am curious to know why it didn't work for you. I build samples in that manner all the time. Was there some sort of typo in my instructions or was I too vague? Yes, I think what you suggest will work. The reason that I recommend that you pull your code out of the Azure IoT SDKs tree is that you do not 'pollute' the SDKs GitHub clone.
Can you let me know what issues you had? I would ap

[2016-07-26 06:53] Agilart opened #733 "Where is the Device API for NODE documentation"
Hi,
the link in the readme file does not work - returns 404: http://azure.github.io/azure-iot-sdks/node/api_reference/azure-iot-device/1.0.9/index.html

Where I can find the latest documentation?

Thanks in advance,
Ivan Dragoev

[2016-07-26 10:53] cnvery commented on #685
Hi @markrad,

When I build using makefile for my project, it poped up this error:
`The source directory ..... does not contain a CMakeLists.txt file`

Configuration of makefile for my project:

Anyway, the issue for compiling sending and receive JSON messages is solved.

Thus, I closed this issue.

Thanks for your great help!

[2016-07-26 10:53] #685 closed

[2016-07-26 13:21] AlexandreMarechalSE opened #734 "Segmentation fault due to looping call of xio_close()"
Hi,

git tag: 2016-07-15
context: small modification of wsio.c in order to use proxy over web sockets. I use

[code]

to set the proxy and the following patch:

[code]

When I set the proxy with a wrong address (but well formatted, meaining a non-responding proxy) the websocket lib fails to connect and we observe a looping call of xio_close() until reaching a segmentation fault

Call stack

[code]

[2016-07-26 14:59] AlexandreMarechalSE opened #735 "Segmentation fault due to double call of lws_context_destroy()"
Hi,

Git commit: commit 1ffa71c59c3b05a8e3a0e7b91bd0e90214878727

I have made some modification du to issue #731 in order to make my application work on web sockets.
Patch on repo git azure-c-shared-utility:
[code]
Patch on repo git azure-uamqp-c:
[code]

When I call
[code]
I observe that lws_context_destroy() will call itself again through a callback in wsio.c leading to a segmentation fault. Her

[2016-07-26 16:26] anhashia commented on #438
Change in develop branch. Closing the issue.

[2016-07-26 16:26] #438 closed

[2016-07-26 17:53] pierreca commented on #733
Hi @Agilart, sorry for the inconvenience. It looks like there was an error pushing the node documentation for the last release. we will look into it and try to publish it asap.

In the meantime you can find the content of the documentation directly in the code and if you clone the repository you should be able to generate the pages and use them locally by running the `gen_jsdocs` script in the `bu

[2016-07-26 18:01] joshuazsprague commented on #714
+1
Have now invested several days trying to guess and check to get this setup with node/javascript.

[2016-07-26 18:27] pierreca commented on #733
The new docs have been published:

Device SDK: http://azure.github.io/azure-iot-sdks/node/api_reference/azure-iot-device/1.0.10/index.html
Service SDK: http://azure.github.io/azure-iot-sdks/node/api_reference/azure-iothub/1.0.12/index.html

[2016-07-26 18:40] #733 closed

[2016-07-26 21:02] anporumb commented on #731
Working on it...

[2016-07-26 23:38] anhashia commented on #568
Investigating why you are seeing exceptions after around 24 hours.

[2016-07-26 23:53] anporumb commented on #731
There's code checked in branch develop that fixes the reported issue. Let me know how it works for you.

Best Regards,
Andrei Porumb

[2016-07-27 06:47] yphuangms opened #736 "[C][MQTT] Unittest - iothubtransportmqtt_unittests - failed at test "IoTHubTransportMqtt_MqttOpCompleteCallback_PUBLISH_ACK_succeed""
The latest sdk mqtt C code (iothubtransportmqtt.c) has modify to get next available packet Id for a new message for publishing. This makes the newly assigned packetId to be "2" instead of "1".

static int publishMqttMessage(...)
{   ...
    mqttMsgEntry->msgPacketId = get_next_packet_id(transportState);
    ...
}

In "get_next_packet_id()", it return "1" if the number reached the maximum count, bu

[2016-07-27 08:42] lmussier opened #737 "[C][Linux] Build failed with --use-websockets"
Hi,

A recent push on develop make the build to fail.

./build.sh --use-websockets --skip-unittests

[code]

Revision b558fea7c2ecccc3caf226fe779532274cedf3ad is the first one to fail, a24bd7c35afe6cd63e790a3e989fcad044402880 is ok.

[2016-07-27 08:44] AlexandreMarechalSE commented on #731
Hi, thanks for the modification. but build is currenlty unstable #737
Alexandre

[2016-07-27 08:54] lmussier commented on #725
@anhashia Could you provide me the settings for debug and release build ?
The problem is not that we can't set release types, it is more I can't find the flags used in release and debug (and I think there is no difference between build types).

For instance, debug build should set cflags=-g -O0 and min size release to -Os, and I can't find a place where CMAKE_CXX_FLAGS_DEBUG and friends are set.

[2016-07-27 10:33] josesimoes commented on #553
Hi,

I've just submitted PR #738 correcting this.

As it was already pointed out, the NETMF projects simply weren't compiling because of recent changes.
There were a lot of corrections required. Some of them was to put back code that was inadvertedly removed!

If you don't mind me saying it seems that you are not showing enough love to the NETMF SDK...
Suggest that you are mode careful in the futu

[2016-07-27 12:32] anhashia commented on #725
Hi @lmussier
I wasn't able to find the settings in \build_all\linux\build.sh script that you can use directly to set debug or release build (if that is what you are exactly looking for). To workaround this you can edit CMakeCache.txt **after** you run cmake which gets invoked when you run build.sh.

For Linux, go to open **CMakeCache.txt** located at
 azure-iot-sdks/c/cmake/iotsdk_linux/
 This fil

[2016-07-27 13:44] anporumb commented on #737
Very interesting. I am not seeing this on any of the Linux flavors we build in our gate.

What's your environment so I can reproduce this?

Best Regards,
Andrei Porumb

[2016-07-27 14:04] lmussier commented on #737
Ubuntu 16.04 LTS 32bits (seen also with a 14.04 LTS)
gcc version 5.3.1 20160413 (Ubuntu 5.3.1-14ubuntu2.1)

It is on an incremental workspace, I'll try with a workspace wipeout.

[2016-07-27 14:35] BlueBasher commented on #653
Double checking it. Running tests on multiple machines, will let you know asap.

[2016-07-27 17:10] anporumb commented on #737
Linux version         |  gcc version                                        | libc version                  | result
----------------------|-----------------------------------------------------|-------------------------------|--------
Ubuntu 14.04.4 LTS    | gcc (Ubuntu 4.9.3-8ubuntu2~14.04) 4.9.3             | Ubuntu EGLIBC 2.19-0ubuntu6.9 | BAD
Ubuntu 15.10          | gcc (Ubuntu 5.2.1-22ubuntu2

[2016-07-27 17:24] anporumb commented on #737
It seems that adding -Werror to the list of C_FLAGS in CMakeLists.txt triggers the error in libwebsockets. (removing it by hand made the build successful).

Next step is to craft special C_FLAGS  for libwebsockets.

[2016-07-27 18:22] chrit-msft commented on #701
@RamPrasadRP I am closing this issue.  If after following the steps in my last post you still see this behavior please reopen this issue and reach out immediately.

[2016-07-27 18:22] #701 closed

[2016-07-28 03:16] chaolong0129 opened #740 "[C][MQTT] sample daemon be killed ????"
Hi,
   I ran the iothub_client_sample_mqtt daemon and test it overnight. In the morning, I used the Device_Explorer utility to check my device status.  I found my device status was disconnected. I checked my sample daemon and it was killed and no any odd-debug messages. I feel confused. Which situation could it cause the problem ? Is my network not-stable ?
Just only one clue "MQTT_CLIENT_NO_PING_

[2016-07-28 04:31] anporumb commented on #737
Code has been crafted and checked in. Would you please let me know how it functions for you?

Soon we shall have a check in that fixes behavior for Windows as well.

Best Regards,
Andrei Porumb

[2016-07-28 09:17] lmussier commented on #737
@anporumb :+1:
Thanks for clearing that so rapidly.

[2016-07-28 09:17] #737 closed

[2016-07-28 12:34] lmussier opened #741 "[C][DM] Will you instantiate all LWM2M objects ?"
Hi,

Currently on [DM branch](https://github.com/Azure/azure-iot-sdks/tree/dmpreview/c/iotdm_client/lwm2m_objects) branch I can see device, firmwareupdate, config  and server objects.

Do you plan to support all of 7 LWM2M objetcs (or provide a mean to do so if necessary) ?
My current concern is to provide /4/0/0, the network bearer of my device.

[2016-07-28 12:40] lmussier commented on #725
@anhashia The need is to have different compiler settings for Debug and Release mode, not to trigger CMake with one or the other build type.

[2016-07-28 12:53] AlexandreMarechalSE commented on #731
It works for me anporumb. Thanks

[2016-07-28 12:53] #731 closed

[2016-07-28 14:28] basimolimajeed commented on #723
I did not change anything apart from the connection string. However I was running on a Surface device when I was getting the error. I moved to my development PC and it seems to work fine. Not sure why though

[2016-07-28 15:18] BlueBasher commented on #653
I've doubled checked and I indeed also see that the client is sending a ping every 120 seconds.
The additional pings we saw turns out to be the pings coming from the server, these are send every 105 seconds.

Can you explain where this 105 seconds is coming from? And what the rational is with having both client and server initiating pings?

The pings initiated by the client are 123 bytes with ack

[2016-07-28 20:10] markrad commented on #553
Hi @josesimoes @rtodosic

This was fixed this week. The changes have been pushed to the develop branch.

Yes we have likely been a little neglectful of NETMF but we will be adding build gate in the near future to prevent anybody committing code to develop that will not build in NETMF. Things should be more reliable after that.

_Mark Radbourne MSFT_

[2016-07-28 20:10] #553 closed

[2016-07-28 21:59] binderjoe opened #742 "azure-iot-device, iothub-explorer, et al npm packages are vulnerable to https://nodesecurity.io/advisories/130"
Several of the Node SDK packages depend on an older version of request, which uses a vulnerable version of tough-cookie described here: https://nodesecurity.io/advisories/130.  As such, you'll see security warnings when installing the iothub-explorer and device SDK.

Updating the SDKs to use the latest version of requestjs should fix the issue, as it depends on tough-cookie 2.3 which fixes the vul

[2016-07-28 23:48] pierreca commented on #742
Thanks for opening this issue. Looks like the package we depend on that brings this dependency is the azure-storage package. I'll work with the maintainers to get it updated ASAP and provide tracking updates here.

[2016-08-01 03:36] WksKing commented on #647
Hi All,
I encountered  the same problem, I want to use iot-hub maven library on Android platform, follow the tutorial at [https://azure.microsoft.com/zh-cn/documentation/articles/iot-hub-java-java-getstarted/](https://azure.microsoft.com/zh-cn/documentation/articles/iot-hub-java-java-getstarted/), simulated-device project is worked fine on Android platform, but both create-device-identity and read

[2016-08-01 20:58] chrit-msft commented on #707
@davidv9345 You mentioned a previous issue, were you talking about #701?  If so have you tried the solution provided?
try using the this call from the simple sample (remove the ifdef)?
[code]
the only issue is you need to copy the array of certs from certs.c into your file (code).
Were you able to manually updated openssl?

[2016-08-01 21:13] moswald opened #745 "DeviceClient is not mockable"
Since `DeviceClient` doesn't implement an interface and doesn't have any virtual methods, it's not testable by the end user. We are working around this by writing a wrapper class that just forwards methods to the "real" `DeviceClient`, but it would be preferable if we could just mock the class directly.

[2016-08-02 00:55] markrad commented on #718
Hi @swarlyyy,
Closing this issue since we dealt with the problems directly.

The issues with the Raspberry Pi Get Started page are being addressed.

_Mark Radbourne MSFT_

[2016-08-02 00:55] #718 closed

[2016-08-02 01:00] markrad commented on #685
Hi @cnvery,

This is my fault. I should have specified that when you create a makefile in the format I provided you use the command _make_ not cmake. The make command will look for a makefile in the current directory and use it to build your code.

Regards,

_Mark Radbourne MSFT_

[2016-08-02 01:08] markrad commented on #698
Hi @cnvery,

Can you attach your Eclipse project to this thread? I'll try using it to build the project and update you on my findings.

_Mark Radbourne MSFT_

[2016-08-02 01:12] markrad commented on #700
Hi @zfields,

I have closed this issue for the time being. Please reopen it when you have time to address this again.

Regards,

_Mark Radbourne MSFT_

[2016-08-02 01:12] #700 closed

[2016-08-02 05:34] markrad commented on #549
Hi @pizerg,

Currently the product group are deliberating about the timeframe in which they may be able to deliver this functionality. Briefly they are considering some sort of callback when the network state changes. I can't give you any estimate of when you might see this functionality.

_Mark Radbourne MSFT_

[2016-08-02 11:17] kasparsklavins opened #746 "IotHub setDisconnectHandler"
How does one access the `setDisconnectHandler` method from `azure-iot-amqp-base.Amqp`, if I have connected connected from `azure-iothub.Client`?

This does not get triggered upon disconnect.
It sends messages just fine, so it was connected at some point.

[2016-08-02 16:58] pierreca commented on #746
If the `disconnect` event is not fired at the client level, then it's a bug. Can you share how you ran into this issue? version of the SDK, command line dump, maybe the code that reproes the problem and how often it does?

As a general principle, I would advise against trying to access anything in the amqp-base package, although we follow semantic versioning those are really internal APIs more tha

[2016-08-02 21:36] zerox1212 commented on #677
Can you give details why this is a partial fix? Sorry I don't know C.

[2016-08-02 21:48] jtanner-msft commented on #736
Thank you for reporting this.  I'll look into updating the test code.

[2016-08-02 21:51] jtanner-msft commented on #740
Thank you for reporting the issue.  I'll see if I can reproduce the issue locally and let you know if I have any other questions or suggestions.

[2016-08-02 22:11] ewertons commented on #677
hi @zerox1212 , this was a commit with part of the fix, which is being completed by another engineer.
The fix is on its way. I'll update this issue once it's in.

[2016-08-03 02:04] markrad commented on #745
Hi @moswald,

Can you provide me with a little more information about your issue please?

What language are you using, C#, Java, Node.js, etc?

Thank you.

_Mark Radbourne MSFT_

[2016-08-03 06:49] kasparsklavins commented on #746
I understand that it is not recommended to use private api's, but it is not exactly documented how I can access the disconnect handler or event listener without it.

[2016-08-03 10:18] basimolimajeed commented on #723
It seems that the latest master branch resolved the problem.

[2016-08-03 10:18] #723 closed

[2016-08-03 10:24] lmussier opened #748 "[C][Linux][AMQPWS] Behavior on connection lost"
Hi,

While testing a bit, we encounter a weird behavior upon  network lost.
1. Let say we establish a connection with the iotHub send
2. A message to be sure the connection is ok.
3. After that, bring the network down
4. Send a new message, IoTHubClient_SendEventAsync returns ok (sounds ok, the message is stored in the queue)
5. Wait few  minutes (to be sure the connection is broken at websocket l

[2016-08-03 10:36] davidv9345 commented on #707
Hi chrit-msft,

Yes, this is the issue I was referring to previously. I have tried the solution and the problem still persists on the Yocto.

[2016-08-03 10:41] davidv9345 commented on #707
I did not manage to update the openssl as the repo for the Yocto does not have an up to date openssl version. I had posted the issue of updating the version on Intel Edison forums, still no solution to updating it https://communities.intel.com/thread/104438

[2016-08-03 11:50] Jiihaa opened #749 "AddDeviceAsync fails on UWP project but works on Console"
When you try to run the code from https://azure.microsoft.com/en-us/documentation/articles/iot-hub-csharp-csharp-getstarted/ to create Device Identity, it works perfectly on console app, but when run on UWP app, it fails on device = await registryManager.AddDeviceAsync(new Device(deviceId));
with the FileNotFoundException, message is: Could not load file or assembly 'Newtonsoft.Json, Version=8.0.0

[2016-08-03 11:53] Gep-Kistler commented on #707
I had the same problem. But after passing certificates (as described here https://github.com/Azure/azure-iot-sdks/issues/701) the problem has gone.

[2016-08-03 12:27] davidv9345 commented on #707
I will just double check and try again later on today, maybe I missed something.

Will update soon.

[2016-08-03 14:46] BlueBasher commented on #654
I've just tested the latest development branch and can confirm that the new functionality of SetSASTokenExpiryTime is working correctly.
The DeviceClient still does a full reconnect but with this new functionality we can influence the number of times it does so (and thus the overall bandwidth)

[2016-08-03 17:12] prmathur-microsoft commented on #654
Yes that is correct. With SetSASTokenExpiryTime you can set the time you want. However it still goes through full reconnect cycle.

[2016-08-03 17:54] anhashia commented on #653
Looking at it.

[2016-08-03 17:58] oriolpinol commented on #684
@chrit-msft Hi, I just tested with 1.0.10 and this happened again:

`"qtp166794956-58" #58 prio=5 os_prio=0 tid=0x00007f17154e0800 nid=0x43 runnable [0x00007f16e429e000]
   java.lang.Thread.State: RUNNABLE
        at com.microsoft.azure.iothub.DeviceClient.close(DeviceClient.java:206)
        at se.yanzi.shrek.azureiothub.IoTHubSession.disconnect(IoTHubSession.java:218)
        at se.yanzi.shrek.a

[2016-08-03 18:10] pierreca commented on #746
The `disconnect` event should be fired by the `Client` object.

[code]

If that is not firing, then it's definitely a bug. What protocol are you using to communicate with IoT Hub?

[2016-08-03 21:52] kasparsklavins commented on #746
I'm using **azure-iothub** and not **azure-iot-device** for service-to-device messages with amqp protocol.
Can't confirm it at the moment, but I think there was no `on()` methos for iothub service client.

[2016-08-03 22:47] olivierbloch commented on #653
Hi @BlueBasher
You are correct, the client is sending a keep alive message every 120 seconds and the server is also sending a message every 105 seconds.
We have added a couple items in our Service backlog to find the best way to remove any unnecessary traffic and reduce data usage. These should be tackled during next milestone after the current one. Stay tuned!

[2016-08-03 23:24] pierreca commented on #746
ha got it. I assumed you were working on the device SDK. The Service SDK is incomplete in that regard, we haven't gotten to implementing this yet. Let me see if I can squeeze this in the next release. we do accept pull requests if you want to take a stab at it.

[2016-08-03 23:29] anhashia commented on #428
Build fixes to build **http sample** are in latest master branch. Go to azure-iot-sdks\c\build_all\windowsce and run **build.cmd.** This should build **iothub_client_sample_http.exe** sample under %USERPROFILE%\cmake_ce8\iothub_client\samples\iothub_client_sample_http\Debug

[2016-08-03 23:29] #428 closed

[2016-08-04 00:19] anhashia commented on #725
Hi @lmussier
Try azure-iot-sdks/c/build_all/linux$ ./**build.sh -cl -g** option. This should produce debug build with debugging information

[2016-08-04 01:25] pierreca commented on #742
Just pushed a fix to our `develop` branch, will be published during our next release cycle.

[2016-08-04 01:25] #742 closed

[2016-08-04 06:10] kasparsklavins commented on #746
Any timeline of when the next release might happen?

[2016-08-04 06:54] BlueBasher commented on #653
Cool! Thanks a lot!

[2016-08-04 07:55] damienpontifex opened #751 "cpp wrapper"
The python SDK utilises boost::python to create. By doing so, we are basically creating a c++ wrapper there for the iothub_client c API.

Would it be possible to expose this wrapper in the iothub_client c package?

And then reused that client when generating the python client? This would increase the usage in c++ while still enabling python development.

I am happy to have a go at it, but just won

[2016-08-04 08:08] damienpontifex opened #752 "[C] Add CMake install commands"
Would it be amenable to add CMake [install](https://cmake.org/cmake/help/v3.0/command/install.html) commands to the c iothub_client and related libraries?

e.g. in azure-iot-sdks/c/iothub_client/CMakeLists.txt
[code]
Thus the target could be built and installed into common global locations and then linked against. This may then also have to be added to other dependent libraries such as amqp etc.

[2016-08-04 16:04] cnvery commented on #698
Hi @markrad,

Here is my Eclipse project files.
[Azure_Edison.zip](https://github.com/Azure/azure-iot-sdks/files/402055/Azure_Edison.zip)

If Eclipse IDE can successfully build Azure sample project _simplesample_amqp.c_ without any errors, then this issue topic can be closed.

Thanks!

[2016-08-04 16:11] moswald commented on #745
My apologies, I should have mentioned this. This is C#.

[2016-08-04 17:00] pierreca commented on #746
We release every other week, so that'd be end of next week. still working on squeezing this within this sprint.

[2016-08-04 18:12] anhashia commented on #637
Fix is in develop branch https://github.com/Azure/azure-iot-sdks/commit/7d4ac20f13d7fca1edeb61de17672b810ce36028

[2016-08-04 21:55] chrit-msft commented on #661
@eissi my java development environment is toast but my colleague has tested this and confirmed that the unit tests pass both in windows and Linux environments.  If you are still seeing the failure please update your environment.

[2016-08-04 22:22] markrad commented on #745
Hi @moswald,

If I understand correctly then, you would have liked to see the DeviceClient inheriting from something like IDeviceClient so that you could provide a mock version of the class for testing purposes. Alternatively, if the methods were virtual, then you could have overridden them for the same end.

I'll raise this issue and get back to you.

_Mark Radbourne MSFT_

[2016-08-04 23:52] tameraw commented on #751
@damienpontifex - Thanks for your proposal.
We would definitely be interested in your contribution of a C++ wrapper. We did have a discussion internally about providing such wrapper but effort to do this was not prioritized.

A few notes to point out in order to make this an efficient PR when you're ready to contribute it:
- Code organization: Let's have this under the following path of the repo "

[2016-08-05 10:05] lmussier opened #756 "[C][Linux] Conditions are no more compiled in"
Hi,

I've build the head of develop branch (./build.sh --use-websockets)  and get a strange behavior.
libaziotsharedutil.a do not exposed Condition_XXX methodes. I can find Lock primitives

[code]
But I can't find Condition primitives.

[code]

I've recompile the lib and I don't see any trace of adapters/condition_pthreads.c

[code]

Could you tell me what I'm missing ?

[2016-08-05 10:32] lmussier commented on #756
I've found the root cause, the condition option switched to default on
`option(use_condition "set use_condition to ON if the condition module and its adapters should be enabled" ON)`

To default off

`option(use_condition "set use_condition to ON if the condition module and its adapters should be enabled" ON)`

Is it a wanted change ? If yes how do we trigger this particular option from the build

[2016-08-05 17:44] cnvery opened #757 "[C] Intel Edison - Unable To Receives Messages Continuously"
Hi all,

I faced one weird problem on Intel Edison.

I am trying to change the sample code from _simplesample_amqp.c_.

It is able to send and receives messages first time without any problem. But, not for second times and so on.

I defined one model **ContosoAnemometer** with 9 data and 1 action.

During the first time, Intel Edison is able to transmit and receives JSON data from Microsoft Azure

[2016-08-05 17:45] cnvery commented on #685
Hi @markrad,

I found another new issue on receiving messages for Intel Edison.

You may refer to [this new issue link](https://github.com/Azure/azure-iot-sdks/issues/757).

Thanks!

[2016-08-05 17:57] arturl commented on #749
thanks @Jiihaa, I'm looking into it now. The problem should go away if you explicitly add 'Newtonsoft.Json, Version=8.0.0.0 to your project -- use that as a work-around for now.

[2016-08-05 19:40] anhashia commented on #568
Checking if issue can be locally reproduced by running send and receive samples for extended period of time.

[2016-08-05 20:26] markrad commented on #694
Hi @ebeistle,

Not being primarily a Linux developer, I had to research this a little more. If I understand this correctly, if you have a signal handler then you can override the default action with custom processing. A SIGHUP, for example, appears to be generally used to reload one's configuration files. Given that, am I correct in assuming that after you handle the signal, control will return to

[2016-08-05 20:35] ebeistle commented on #694
Yes I believe your understanding is correct.

[2016-08-05 21:55] markrad commented on #580
I'm still looking at a number of similar issues on devices such as the Edison and those running OpenWRT. I have a couple of theories but nothing that I am ready share at this time.

[2016-08-05 21:58] markrad commented on #588
Did you try my suggestion? I will assume that this issue is resolved if you don't respond.

[2016-08-05 23:05] pierreca commented on #746
The feature was finally implemented here: https://github.com/Azure/azure-iot-sdks/commit/7861a0cc243bfc95b634668093078b0e450a88e6

Will be released with the next release cycle, one week from now.

[2016-08-05 23:05] #746 closed

[2016-08-05 23:54] anhashia commented on #679
Investigating the issue

[2016-08-06 05:15] wangxhere commented on #588
Hi @markrad ,

Sorry I was tied to another issue the past 2 weeks. Just tried your suggestion with latest commit on master branch, but got no luck. The scenario is completely same. May I ask whether there is any other dependencies of Azure IoT SDK code, especially on other OS components?

Thanks,
Wang Xian

[2016-08-06 18:33] markrad commented on #588
Hi @wangxhere,
This is not making any sense. The OpenSSL s_client appeared to work but you can't connect even when you shut off certificate validation. Perhaps you could try the HTTPS sample to see if that works.

_ Mark Radbourne MSFT_

[2016-08-07 04:32] damienpontifex commented on #751
@tameraw another question on the cpp file layout:
Would you prefer a src+inc structure or a header only implementation and link against the c library?

Started with the src+inc as it follows the other styles, but if users wanted to use the cpp wrapper and link against the c library, a header only implementation could be easier.

Thoughts?

[2016-08-07 18:08] kbhatti800 opened #758 "c Azure-iot-sdks fail to build out of github. (Target board is Raspberry Pi). Please help"
Linking C executable iothub_client_sample_http_shared
[ 94%] Built target remote_monitoring
[ 94%] Built target iothub_client_sample_http
Scanning dependencies of target iothub_client_sample_upload_to_blob
Scanning dependencies of target iothub_client_sample_x509
../../../iothub_client/libiothub_client_amqp_transport.a(iothub_client_ll.c.o):(.data+0x14): multiple definition of `IOTHUB_CLIENT_CONFI

[2016-08-08 02:49] wangxhere commented on #588
Hi @markrad

I previously tried all three protocols and only HTTPS works. Also I believe that you are right by saying OpenSSL s_client seems to be working, as from the Wireshark capture (in previous replies) it shows that SSL connection was established when a RST packet was sent by Client, which was even not anticipated by OpenSSL (as it complains about write error). I'm not sure about where the R

[2016-08-08 04:51] ntthanh opened #759 "SSL Client Authentication"
Hello there,

We are trying to use SSL Client Auth for Azure IoT Hub. We were able to register devices using both trusted (issued by a TRUSTED ROOT) and untrusted (issued by PILOT CA) certificates. Our works were based on this article
https://azure.microsoft.com/en-us/documentation/articles/iot-hub-sas-tokens/
As said the registration is OK
But the Authentication is NOT OK
We forked this sample fo

[2016-08-08 12:48] ginaospina commented on #481
I am trying to follow up this sample to send a simple message to the iot hub however I have this error: The connection string has an invalid value for property: HostName

The code is exactly the same as shown here,
Taking a look at google, the only result that seems to be the same as mine is this: https://github.com/Azure/azure...

My connection string and device key is the followin:
static string

[2016-08-08 17:39] anhashia commented on #568
I tried with both 1 second and 20 second iterations but I don't see the exception after 24 hours in either send or receive sample. I tested it on Windows 10 PC. Can you try it on different device and see if you see the same issue ?

[2016-08-08 19:53] damonbarry commented on #741
@lmussier, you’re right we don’t currently support the connectivity monitoring object (object ID #4). It’s difficult to say at this point how things will look in the future. We’re currently incorporating feedback from our DM public preview to decide how best to expose the device management features and patterns people expect. Stay tuned…

[2016-08-09 05:00] rainmakerho commented on #568
I don't see any exception currently.
Thank for your help.

[2016-08-09 07:22] xscript commented on #560
I noticed that current Azure-IoT-SDK only has device SDK for Python. Do you guys have plans to provide  service SDK for Python? If so, any timeline on this?

[2016-08-09 16:17] chrit-msft commented on #758
@kbhatti800 Thank you for raising this issue.  I can't tell from the output but are you using Raspbian and is this a pi2 or 3?

[2016-08-09 18:09] avranju opened #760 "[C][Edison] - Unit test `crt_abstractions_unittests` fails on Intel Edison"
The unit tests  in the suite **crt_abstractions_unittests** fails on the Intel Edison. Here're the failing test cases:

[code]

[2016-08-09 18:51] kbhatti800 commented on #758
pi3 B

[2016-08-10 20:29] ritave commented on #181
Reopening this issue, because implementation != definition files. The whole library can be written and Javascript but include Typescript typings for easier usage in that language.

[2016-08-10 21:16] anhashia commented on #637
Fix is in develop branch  7d4ac20. Closing the issue. Please let us know if you're still having issues. Thanks.

[2016-08-10 21:17] #637 closed

[2016-08-10 22:43] jtanner-msft commented on #736
I've just tested with the latest master branch and all of the tests (including IoTHubTransportMqtt_MqttOpCompleteCallback_PUBLISH_ACK_succeed) appear to pass.
Also the value you indicated has been changed from 1 to 2.
Closing this incident.  Thanks again for your suggestion.  If you do see any other problems in the future please mention them.

[2016-08-10 22:43] #736 closed

[2016-08-10 23:05] jtanner-msft commented on #740
Hello,

  I was reviewing your comments further and believe I’ll need a little more information before I can attempt to reproduce the problem you saw for investigation locally.

  Based upon the data you provided I can see that you were using C, MQTT and some version of Linux.

  Can you please clarify what version of Linux you were using and what device you might have been running on?

  Also wha

[2016-08-11 06:03] programmersommer opened #762 "Can't recieve message in UWP from Iot hub"
I am trying create application like it's written in article [Connect your Windows app to Azure IoT Hub with Visual Studio](https://blogs.windows.com/buildingapps/2016/03/03/connect-your-windows-app-to-azure-iot-hub-with-visual-studio/) but can't read message from hub. I have tried different transport types without any result. receivedMessage inside ReceiveCloudToDeviceMessageAsync() is always null

[2016-08-11 09:41] sanket-kulkarni-vmware opened #763 "Python API Documentation"
I didn't find complete documentation of the python API's, can you please provide me the same?

[2016-08-11 18:17] anhashia commented on #653
Current ETA for this is end of September.

[2016-08-12 05:16] dcristoloveanu commented on #560
@xscript Hi, we have already implemented the C portion for the service SDK so what is left is the Python binding for it. This is not currently slotted for August, so if you would like to take a stab at adding the bindings via a PR we would be more than happy to help you review and merge that in.

/Dan

[2016-08-12 09:41] kingliantop opened #766 "[Java]Java device client can't connect to IOT hub in Azure China with MQTT protocol"
Hi guys,
Using the latest SDK and Java sample code from below, I can use https or AMQPS to communicate with Azure China IOT hub successfully, but failed for the mqtt protocol.

The sample code URL as below:
https://github.com/Azure/azure-iot-sdks/tree/master/java/device/samples/send-receive-sample

The detailed error information:

Starting...
Beginning setup.
Successfully read input parameters.
Us

[2016-08-12 15:29] sanket-kulkarni-vmware commented on #763
Hello I got stuck because of incomplete documentation, Can please provide link for the same.

Thanks

[2016-08-12 16:09] chrit-msft commented on #758
@kbhatti800 I wanted to give you an update that I have been unable to reproduce your issue.  I have installed a clean raspbian build on my pi3.  Installed the sdks using:
git clone https://github.com/azure/azure-iot-sdks --recursive.

I then ran setup.sh to prepare the c build environment.  After that I ran build.sh and hit a known issue that doesn't have the same failure signature as yours.  To g

[2016-08-12 16:22] chrit-msft commented on #645
@oriolpinol I have discussed this behavior with the code owners and they have changed this request to an enhancement.  They will ensure that the SDK bubbles up an intuitive error message when exceeding the hubs daily limit.

[2016-08-12 16:57] rajeevmv commented on #759
Hi Thanh,

Can you verify that the X.509 certificate thumbprint that was used during device registration matches the thumbprint of the x509Certificate variable above?

Also, if you give us the name of the IotHub and the time frame when the send was hanging, I can look at our service side logs to see if there is any more info.

[2016-08-12 17:03] tameraw commented on #717
@zerox1212 - We have plans to address this in a future release. No ETA as of yet. If it's a blocking issue on your end, we'd happily accept contributions to our repo.
[https://github.com/Azure/azure-iot-sdks/blob/master/CONTRIBUTING.md](url)

[2016-08-12 20:10] markrad commented on #583
This is being addressed. Some of the problems have been eliminated but it is still not buildable with -DNO_LOGGING. I will comment when I have more news.

_Mark Radbourne MSFT_

[2016-08-12 20:14] markrad commented on #745
Hi @moswald,

I have discussed this issue with the product group. They have had other similar requests and they will consider adding it to the backlog. However, this enhancement is not going to be addressed anytime soon.

Thank you for raising the issue. I am going to keep this open in order to track your request.

_Mark Radbourne MSFT_

[2016-08-12 23:13] anhashia commented on #568
Closing. Please re-activate if you still are having issues. Thanks !

[2016-08-12 23:13] #568 closed

[2016-08-12 23:18] anhashia commented on #725
Closing. Please re-activate if you still are having issues. Thanks !

[2016-08-12 23:18] #725 closed

[2016-08-12 23:45] markrad commented on #698
Hi @cnvery,

Just to be clear, are you running Eclipse on your Edison (can you even do that?) or are you trying to set up a cross compile environment in Eclipse to build your Edison binaries?

_Mark Radbourne MSFT_

[2016-08-13 00:32] markrad commented on #756
Hi @lmussier,

You are indeed correct and I have to take the blame for that one. I set it that way as a test to find out if it would build with C99. For some reason that condition sets the build to use C11. By oversight, I forgot to return it to its original value. As it happens it will build fine with C99 so I just need to remove the test at line 521. I'll fix it.

_Mark Radbourne MSFT_

[2016-08-13 00:40] markrad commented on #752
Hi @damienpontifex,

Can you be more specific please? The .a files are already installed into lib and the headers are installed into include/azureiot. Are them some additional files you want installed?

_Mark Radbourne MSFT_

[2016-08-15 04:48] ntthanh commented on #759
Hi Team,

Yes, I am quite sure that I was using the right certificate.

My hub name is: POC-IoT-HUB-01.azure-devices.net

Device ID is:VAHE-HYQ-N3--3

Certtificate Thumprint is: 95C1F650688D09F3D4967F7AFBD804F70CE37AFD

I have just made some tests: from 10.30 - 11.45 am (GMT + 7)

Best,
Thanh

[2016-08-15 09:03] codehArt commented on #715
thanks @jonbgallant and @mamokarz  for your guidence.

[2016-08-15 09:03] #715 closed

[2016-08-15 09:55] Jokymon commented on #752
@markrad it looks as if on Windows this is not the case.

from azure-iot-sdks/c/iothub_client/CMakeLists.txt at the bottom
[code]
Are these libraries and headers not needed for Windows?

[2016-08-15 10:00] Jokymon commented on #748
On my side it looks very similar with the difference that my first message indicating an issue is
`[1471252510:8235] ERR: lws_issue_raw: wsi 0x7f8f48026c20: LWS_SSL_CAPABLE_ERROR`

Also after a while the SendConfirmationCallback is called with `IOTHUB_CLIENT_CONFIRMATION_ERROR` for all messages sent so far, which to me means that the queued messages are now suddenly being dropped.

Once the connec

[2016-08-15 15:05] zerox1212 commented on #717
Thanks for the update. Unfortunately I don't know C so I can' contribute. At this time I just upgraded my IoT hub to avoid running out of messages.

[2016-08-15 16:54] rajeevmv commented on #759
Hi Thanh,

I don't see any request to connect from a DeviceClient to connect to this IotHub during the above time-frame. It appears that the request from your DeviceClient is not reaching our service.

Have you been successful in using a SAS token with DeviceClient?

Are you behind a firewall that blocks all outbound connections? The DeviceClient attempts an outbound connection using Amqp over por

[2016-08-15 18:56] prmathur-microsoft commented on #766
Hi, I have ran MQTT send-receive sample on my end and could not see this issue. Could you please sync to latest and see if the issue is still reproducible ? If so can you provide more details about how you are running this scenario ?

[2016-08-15 18:56] markrad commented on #752
Hi @damienpontifex, @Jokymon,

Indeed you are correct, there is no install step for Windows. If you prepare a pull request to address this I will be happy to review it.

_Mark Radbourne MSFT_

[2016-08-15 23:29] damienpontifex commented on #752
Sorry @markrad if I am mistaken. I was looking through the CMake files to analyse how I might use this library and didn't come across those install steps.

Happy to close unless you want to track the windows install step here also.

[2016-08-16 01:02] markrad commented on #720
Hi @kevinledinh,

I'm having difficulty opening your .hprof files. I'm using jhat version 2.0 (java version 1.8.0_91) and receiving error _Version string not recognized at byte 17_. Do you know what version your .hprof files are at?

_Mark Radbourne MSFT_

[2016-08-16 07:07] sanket-kulkarni-vmware opened #770 "MQTT QoS 0 Message (Azure IoT SDK Python)"
I am facing a problem of sending QoS 0 message in **python azure client**. Can you tell me which method should I use to set QoS level of the MQTT message?

[2016-08-16 09:59] kevinledinh commented on #720
Hi @markrad,

Please find the converted hrof file here: https://drive.google.com/file/d/0Bxtcm6BT3IfpM05QTkRGSUZkVTQ/view?usp=sharing

I check that it can viewed in Memory Analyzer Tool.  The leak report says that there are many Thread being retained. This problem has been persisting and I'm not sure how to get around it.

Any suggestion is very welcomed.

Best wishes,

[2016-08-16 14:54] PanzerHabba commented on #604
This is still some kind of buggy. I ran the same code on both linux (ubuntu & Rpi3) and windows10 and only on windows10 the `client.on('disconnect', function() {})` seems to be "fired".
node version: 4.4.5
azure-iot-device@1.0.11
azure-iot-device-amqp@1.0.12

After I unplug the ethernet-cable the debug-output is as follow:
` amqp10:framing sending frame:  +85ms { type: 0, channel: 0 } : 0000000802

[2016-08-16 18:10] pierreca commented on #604
Reopening to investigate issue reported by @PanzerHabba

As far as I understand the event doesn't fire on Linux, right?

[2016-08-16 20:11] tameraw commented on #677
@lmussier - fixed in the latest release.

[2016-08-16 20:13] tameraw commented on #612
@olivierbloch - Please reopen if still an issue.

[2016-08-16 20:13] #612 closed

[2016-08-16 20:14] tameraw commented on #362
@khilscher - Currently not in our plans to add this feature. If still interested, please feel free to contribute to the repo. Thanks.

[2016-08-16 20:14] #362 closed

[2016-08-16 20:16] tameraw commented on #425
@pizerg - Currently not planning to add this feature. Having said that, Correlation Id is supported, and could potentially add the logic in the application side to filter based on the expected Correlation Id.

[2016-08-16 20:16] #425 closed

[2016-08-16 20:38] tameraw commented on #615
@FrancisVenturini - Closing. If still having issues, please let us know.

[2016-08-16 20:38] #615 closed

[2016-08-16 23:32] anhashia commented on #679
Closing. Please re-activate if you still are having issues. Thanks !

[2016-08-16 23:32] #679 closed

[2016-08-17 03:24] yan2750 opened #771 "Xcode how to use azure-iot-sdks"
Hi Dev:
I have two questions.
1)Mac OS how to build azure-mqtt.
2)Xcode how to use  azure-ion-sdks.

My English is not very good,Vexed！
                                                               thanks！

[2016-08-17 07:48] Jokymon commented on #752
@markrad I can do that. However it looks like this will need several PRs because it also affects the submodules azure-uamqp-c, azure-umqtt-c, azure-c-shared-utility and libwebsockets. Do you want the PRs with updated submodule references or do you want to update them yourself?

[2016-08-17 08:22] ntthanh commented on #759
Hi Rajeev,

Attachment is the sample code we are using and some sample certificates, you can easily reproduce in your environment.

Best,
Thanh

[Archive.zip](https://github.com/Azure/azure-iot-sdks/files/422051/Archive.zip)

[2016-08-17 17:52] jtanner-msft commented on #740
Hi @chaolong0129,

  Since I haven’t seen any response or update for a week now I’m going to close the issue at this time.  If you are still seeing the odd behavior and can provide the details I had asked for please re-activate the issue and add that information.

Thanks,

[2016-08-17 17:52] #740 closed

[2016-08-17 18:41] QiMata commented on #665
Can confirm still in build

[2016-08-17 20:35] markrad commented on #694
HI @ebeistle,

I have checked in your suggested change. You will find it in the develop branch at time of writing.

_Mark Radbourne MSFT_

[2016-08-17 20:35] #694 closed

[2016-08-17 23:40] jtanner-msft commented on #760
I've repro'd the failure on my Edison and have been trying to determine why those long values appear to get treated differently.  Once I have more of an update I will let you know.

[2016-08-18 01:33] ritave opened #773 "Multiple models in serialization namespace can't have same properties names"
On develop branch @ commit 8f2d430, using C sdk.

After declaring the model:
[code]

the code fails to compile because:

[code]

[2016-08-18 02:25] chaolong0129 commented on #740
Hi Jtanner,
    Sorry, I forgot to reply. I run it on my Hyper-V. I test it with new release version and new version seems more stable. I already ran it on Monday and it still works well now.

    Azure-IOT-SDKs Test
   -------------------------------
    OS : Ubuntu 14.04,  4.2.0-42-generic
    git branch  : 2016-07-15-release
    Duration : 1 day
    Test Program : iothub_client_sample_mqtt

[2016-08-18 11:13] PanzerHabba commented on #604
@pierreca That is correct.

[2016-08-18 14:06] crpietschmann opened #774 "Link to Pine64 Win10 IoT FFU is broken..."
The "azure-iot-sdks/doc/get_started/windows10-iot-core-pine64-csharp.md" article shows that you can install Windows 10 IoT Core on a Pine64 board. However, the link to download the FFU to flash on the SD Card for the Pine64 board is a broken link.

Is the Pine64 officially supported by Windows 10 IoT Core? It's not listed on Microsoft's Windows IoT Core site...

[2016-08-18 18:32] rajeevmv commented on #759
Your sample does not appear to use async/await patterns correctly.
Here is a simple console app which works with one of the certs that you sent.
[X509Sample.zip](https://github.com/Azure/azure-iot-sdks/files/425620/X509Sample.zip).

Plug in your IotHub data and give it a  try.

[2016-08-19 02:17] jiangzhibin opened #775 "I need build for architecture x86_64 or arm64, What should I do?"
I need build a static library for architecture x86_64 or arm64,so that can runs on iPhone  or mac os x. I built master branch on Linux,it succeeded but not for architecture x86_64, What should I do,add some parameters in cmake file?
It's appreciative for your reply.

[2016-08-19 06:15] tkysmz opened #776 "[Java] Support IoTHub file upload API for Java device client"
Hi.
I'm using Java device client, but it not supports IoTHub file upload API.
I need this API. It is scheduled to support for Java?

thanks.

[2016-08-19 15:32] AlexandreMarechalSE opened #777 "Segmentation fault when multiple connection attempts are made on AMQPWS"
Hi,

I am currently running example _iothub_client_sample_amqp_websockets_  and I am dropping packets thanks to IP tables:

(run the following as root to drop half packets on input and output)

iptables -D OUTPUT -m statistic --mode random --probability 0.5 -j DROP
iptables -D INPUT -m statistic --mode random --probability 0.5 -j DROP

here are the logs:
[code]

Commit number: 21c77025f8bca6f00543

[2016-08-19 23:42] jtanner-msft commented on #757
Hi @cnvery,

  I saw your post about having some problems so have started trying to investigate this issue for you.

  First, since it’s been a little while I wanted to check if you were still seeing this problem, or if you had determined a solution already?

  The other thing I wanted to check on is if you’ve tried to test this code on either Windows, or a desktop version of Linux like Ubuntu?  I

[2016-08-22 14:01] ntthanh commented on #759
Hi Rajeev,

Let me try.  Thanks very much for your support.

Best,
Thanh

[2016-08-22 16:56] Rohit-MSFT commented on #716
@ Just to update you - we have made the necessary changes to platform_init() and under process of checking it in.

[2016-08-22 16:56] #716 closed

[2016-08-22 20:16] chrit-msft commented on #758
@kbhatti800 Due to lack of repro I am going to close this thread.  If you continue to see this problem please re-open the thread and reach out immediately.

[2016-08-22 20:16] #758 closed

[2016-08-22 22:20] ritave commented on #773
I serialized my data manually with Parson library and it worked better. Maybe it's better to deprecate serializer module and direct people to Parson?

[2016-08-23 05:38] #677 closed

[2016-08-23 06:33] tameraw commented on #770
The SDK does not currently provide an option to modify the QoS. Currently in the backlog.

[2016-08-23 06:38] ntthanh commented on #759
Thanks Rajeev, it works

[2016-08-23 06:38] #759 closed

[2016-08-23 13:27] kasparsklavins commented on #746
@pierreca
In what scenarios the disconnect event is emitted?

At the moment the event is not emitted if internet connectivity disappears.

[2016-08-23 16:01] olivierbloch commented on #776
hi @tkysmz
For now the file upload feature is supported in our JavaWrapper SDK, not in the native Java one. We are putting more focus and efforts on the JavaWrapper version as i allows us to bring new features faster to Java developers. I suggest you try it out and let us know what you think.
Thanks

[2016-08-23 18:44] pierreca commented on #746
@kasparsklavins it gets called when the socket gets disconnected, so we depend on the OS TCP/IP stack. What OS and SDK version are you running?

[2016-08-23 20:16] markrad commented on #756
Hi @lmussier,

This has been fixed. It is currently in the develop branch.

Thank you for pointing it out.

_Mark Radbourne MSFT_

[2016-08-23 20:16] #756 closed

[2016-08-24 00:19] anhashia commented on #771
Investigating !

[2016-08-24 01:02] jtanner-msft commented on #777
Hi Alexandre,

  Thank you for your report.

  After a little testing I was able to capture the seg fault under the debugger and will start looking at the call stack to see what might be causing the problem.

  One thing for future reference that was tripping me up in getting to the repro was the commands you had provided to cause the network issues:

sudo iptables -D OUTPUT -m statistic --mode ra

[2016-08-24 04:38] tkysmz commented on #776
hi @olivierbloch

In our case, We want to avoid cross building. (We have no envirinment for cross building now) And, JavaWrapper is little more complexity then using native JavaSDK. So, I want to use native JavaSDK, if it's supported.

Thanks.

[2016-08-24 06:44] kasparsklavins commented on #746
I'm on `1.0.14`
I'm on Ubuntu 14.04 virtual machine, through windows 10 host machine.

Although, it did get called when the machine went in sleep mode. Not the best way to test it.

[2016-08-24 07:28] AlexandreMarechalSE commented on #777
Hi Jtanner,

Sorry about the mistake about the repro step (-A for adding the rule and -D for deleting the rule), wrong copy paste line from my command history.

Thank you for taking care of the issue.

Alexandre

[2016-08-24 07:57] kingliantop commented on #766
Finally found it is the SSL certificate issue. Resolved, thanks!

[2016-08-24 07:57] #766 closed

[2016-08-24 12:10] jtjk commented on #604
Yes, I have also problems with getting the events. Often If I connect and get disconnected, I might be getting the first disconnect event. But after reconnecting, I am not getting these events again. I tried to debug it but it looked very complex way to handle when to add new event listeners and when not. I guess somebody should refactor it little bit.

[2016-08-24 18:53] ritave opened #781 "iothub-explorer monitor-events doesn't print nested arrays correctly"
When I send through the C SDK the following event:
[code]

iothub-explorer monitor-events returns this:
[code]

[2016-08-25 16:46] kevinledinh commented on #720
Hi @markrad ,

So today i've found out where the memory leak problem is. I'm using IoT Hub v1.0.11.

In IotHubReactor.java, just checking whether the current Thread is interrupted is not sufficient because most of the time, the thread does not detect this interrupt signal.

In addition, although the reactorFuture is cancelled, the current Thread has to also manually checked for .isCancelled signal

[2016-08-25 17:06] ashokkhurana commented on #774
The document was provided by our partner who recently certified their device with us. I have sent an email to them for sending us the updated link. I will update the document as soon as I hear back from them. The board is listed as a certified Azure IoT device here https://azure.microsoft.com/en-us/documentation/articles/iot-hub-tested-configurations/

[2016-08-25 17:08] crpietschmann commented on #774
Cool, thanks!

[2016-08-25 21:23] markrad commented on #698
Hi @cnvery,

Since you have not responded in almost two weeks I am closing this issue. Please feel free to reopen it if you need.

_Mark Radbourne MSFT_

[2016-08-25 21:40] anhashia commented on #775
Investigating.

[2016-08-26 10:42] sanket-kulkarni-vmware opened #782 "How to generate the x509 and private key for Azure IoT Hub?"
I am following [this](https://github.com/Azure/azure-iot-sdks/blob/master/python/device/samples/iothub_client_sample_x509.py#L45) example.

Thanks.

[2016-08-26 18:04] ashokkhurana commented on #774
I got the updated link from partner as http://files.pine64.org/os/win10-iot/Pine64_Win10IoTCore10586_beta0.1.ffu

Thanks,
Ashok

[2016-08-26 18:04] #774 closed

[2016-08-26 18:28] jtanner-msft commented on #757
Hi @cnvery,

Since it's been a week now and I haven't seen any response from you on this issue I'm going to proceed with closing it at this time.  If you do still require assistance please feel free to re-open this issue or submit a new one referencing it in the future.

Thanks,

[2016-08-26 22:56] olivierbloch opened #785 "[node-red] Package.json missing Keywords"
In order for the node-red package to appear in the node-red flows/nodes library, the package.json file should contain at least the following keyword:
"Keywords":["node-red"]
I recommend also adding "azure" and "iot" keywords so that search results in npm and node-red libraries work better.
Guidances on node-red packaging are [here](http://nodered.org/docs/creating-nodes/packaging.html)

[2016-08-27 08:18] damienpontifex opened #786 "[Python] Build call 'make iothub_client_python' rather than make"
With the python/linux/build_all/build.sh script, it passes through to the c targets build script and by default will do a standard `make`.

Could this be improved to call `make iothub_client_python`? This is really the primary target that is needed in this case. Doing this manually, by going into c/cmake/iotsdk_linux and calling this, I haven't needed to create the swap file on the Raspberry Pi an

[2016-08-27 11:01] cnvery commented on #757
Hi @jtanner-msft,

The problem still remain, and I dont have privilege to re-open this issue.

I have tried the code on Windows Visual Studio 2015, the output is same as Intel Edison.

It ables to send and receives first JSON data without any issues.

For second JSON data, it able to send second JSON data to cloud without any issues. However, it receives back first JSON data instead of second JSON

[2016-08-27 11:09] cnvery commented on #698
Hi @markrad,

The problem still remain, and I dont have privilege to re-open this issue.

Just to be clear, are you running Eclipse on your Edison (can you even do that?)
**Ans: My Eclipse project without Azure C SDK is able to compile succesfully in Eclispe software**

or are you trying to set up a cross compile environment in Eclipse to build your Edison binaries?
**Ans: I wish to compile my Ecl

[2016-08-28 02:01] markrad commented on #698
On what platform is Eclipse running?

[2016-08-28 08:11] cnvery commented on #698
Hi @markrad,

The Eclipse Platform is:
Version: Luna SR2 (4.4.2)
Build id: M20150204-1700

[2016-08-29 11:01] sanket-kulkarni-vmware opened #787 "Method to give the current status of Azure IoT connection in python SDK."
Hi,

I am using **official python SDK** to connect IoT Hub, I didn't find any method to check the status of connection with Azure IoT Hub. I am using MQTT protocol.

Thanks

[2016-08-29 14:33] sanket-kulkarni-vmware opened #788 "Python SDK method to close the connection with Azure IoT HUB."
I am using python SDK for connecting the Azure Hub, I am using MQTT protocol. I didn't find any method to close the connection with Azure IoT Hub in Official python SDK.

[2016-08-30 01:09] jtanner-msft commented on #757
Hi Cnvery,

  I saw in your code that I didn’t have some of the libraries that you were using, such as jsmntok, etc.

  But in reviewing the code I believe I understood the core of what you were trying to accomplish with your modifications.  I have changed the simplesample_amqp.c file so it now looks like this:

[code]
If you replace your version of simplesample_amqp.c with the above and build it

[2016-08-30 02:06] markmnl commented on #489
I have been scratching my head over this, add Microsoft.Azure.Devices.Client.PCL from Xamarin.Android app and always get the "Not implemented in reference assembly" when attempting to send. Stack trace below.

Is the problem the method is indeed not implemented?? How do I use IoT Hub from Android in that case?

  at PCLCrypto.WinRTCrypto.get_MacAlgorithmProvider () [0x00000] in <filename unknown>:

[2016-08-30 02:25] markmnl commented on #489
OK I was able to fix this by as the OP says add adding the Microsoft.Azure.Devices.Client package to my Android app... super confusing :worried:

[2016-08-30 10:28] mobilars opened #792 "simple_sample_http.js missing"
https://azure.microsoft.com/en-us/develop/iot/get-started/ says simple_sample_http.js should be available, but I can't find it where the web page says it should be. Has it been deleted (or never added?)

[2016-08-30 12:12] mregen commented on #788
@sanket-kulkarni-vmware the connection is implicitly closed when the Python IoTHubClient object is destroyed.

[2016-08-30 12:16] mregen commented on #787
@sanket-kulkarni-vmware The Python SDk is a wrapper for the C library. The only way to check is using get_send_status and track the message callback results.

[2016-08-30 17:51] pierreca commented on #792
Hi @mobilars
this is a typo in the docs, it should say `simple_sample_device.js`
Here's the link to the file in our repository: https://github.com/Azure/azure-iot-sdks/blob/master/node/device/samples/simple_sample_device.js

Can you point us to the page where this typo is? I'm not seeing it at the link you provided

[2016-08-30 19:32] mobilars commented on #792
It only appears after you select the right options.

1) Another device, 2) linux and 3) Javascript.

Then it says in section 5:

Run a simple node sample on Desktop Linux
The following describes how to run the simple_sample_http.js Node.js sample application. Etc...

[2016-08-30 20:04] cnvery commented on #757
Hi @jtanner-msft,

I tried your code on Windows Microsoft Visual Studio 2015, it worked perfectly. It can continuously send and receive messages.

However, it does not work on my Intel Edison with same code. It cant even establish connection with server via AMQP. So, not even able to send and receive first message.

Error as per below:
[code]

My code as per below:
[code]

[2016-08-30 20:34] alfintatorkace opened #794 "problem sending application properties when added to amqp sample in the C sdk on windows."
Using the latest code as of today.
I'm having some trouble with the send side of adding application properties to amqp messages.
First I used service bus explorer to send the messages with a few properties, and I can retrieve the properties when I receive the messages.  That all works fine.

I added some application properties to the message_sender sample, but when I send the messages nothing show

[2016-08-30 21:56] pierreca commented on #792
got it thanks. @dominicbetts is this something you can fix? thanks!

[2016-08-31 02:26] ravenzachary opened #795 "IoTHubClient accepted the message for delivery, but not showing up in Azure IoT Suite"
Hello. I purchased the Microsoft IoT Pack for Raspberry Pi 3 from Adafruit and followed the instructions here:

https://azure.microsoft.com/en-us/documentation/samples/iot-hub-c-raspberrypi-getstartedkit/

I was able to make it all the way through Step 1.6 (Build the Modified Sample), but when I got to Step 1.7, (View the Sensor Data from the IoT Suite Portal) the device I created remains in a Pen

[2016-08-31 04:53] sanket-kulkarni-vmware commented on #788
Thanks, it means official SDK does not support explicit method to close the existing connection with Azure IoT Hub?

[2016-08-31 05:47] dominicbetts commented on #792
@pierreca - sure, I can fix that.

[2016-08-31 06:33] mobilars commented on #792
From a user (me) point of view, having an http sample is very useful. But
it turned out there was another one, called http batch something. That one
worked nicely.

Lars

31. aug. 2016 07:47 skrev "Dominic Betts" <notifications@github.com>:

[2016-08-31 07:26] pierreca commented on #792
@mobilars
the sample that I pointed you to is an HTTP sample if you want it to. If you look at the very beginning of the file, it says that you can choose whatever protocol you want to use with your client.
https://github.com/Azure/azure-iot-sdks/blob/master/node/device/samples/simple_sample_device.js#L7

would you have a suggestion to make this clearer? maybe call it out in the tutorial instructi

[2016-08-31 09:12] sanket-kulkarni-vmware commented on #787
@mregen thanks.

[2016-08-31 10:57] mobilars commented on #792
Ah, yes of course. Thanks :)

2016-08-31 9:26 GMT+02:00 Pierre Cauchois <notifications@github.com>:

--
Lars Kristian Roland
Email: lars@roland.bz
Phone: +47 90733036

[2016-08-31 11:04] mobilars commented on #792
It just seemed to simple to be true :-/ Is that really all I have to do to
switch between those protocols when using Node/Javascript?

2016-08-31 12:57 GMT+02:00 Lars Kristian Roland <lars@roland.bz>:

--
Lars Kristian Roland
Email: lars@roland.bz
Phone: +47 90733036

[2016-08-31 16:09] cnvery commented on #757
Hi @jtanner-msft,

I found out that other users also faces similar AMQP problem just like me.

The link is as per below:
[simplesample_amqp execution failure on Debian Beagleboneblack](https://github.com/Azure/azure-iot-sdks/issues/290)
[[dmpreview][C][Linux] Can't get iothub_client_sample_amqp connect to iot hub](https://github.com/Azure/azure-iot-sdks/issues/611)

Both of them able to solve the

[2016-08-31 16:26] cnvery commented on #611
Hi @lmussier,

I have same AMQP problem just like you.

I have tried 2 different networks for my Intel Edison, but it is unable to solve the problem.

Do you have any other suggestion on solving this?

Thanks!

[2016-08-31 16:27] cnvery commented on #290
Hi @kasebe,

I have same AMQP problem just like you.

I have tried 2 different networks for my Intel Edison, but it is unable to solve the problem.

Do you have any other suggestion on solving this?

Thanks!

[2016-08-31 17:47] jtanner-msft commented on #757
@cnvery,

  What you have done looks to be identical to what I had done to get the AMQP working correctly for myself on the Edison.  I'll try to run my modified code there and see if I experience the same problems you are seeing.  If I don't, then I would tend to think it might be something more specific to your local network like a firewall issue or something.

  If you make the certificate chang

[2016-08-31 18:53] pierreca commented on #792
that's how it's meant to be :)

the only caveat we have is that MQTT doesn't support message properties, and rejecting or abandoning messages in the Cloud-To-Device messaging scenario, so C2D commands will be "completed" all by default.

Other than that, if you find that you can write a piece of code that works with a protocol and not with the other by just changing the parameter, we likely have a

[2016-08-31 21:02] Chucky89 commented on #140
I ran into the same error, maybe correct the tutorial for the future.

[2016-09-01 01:30] cnvery commented on #757
Hi @jtanner-msft,

I have tried simplesample_amqp.c with and without certicates, however the output still same.

[2016-09-01 07:12] #787 closed

[2016-09-01 10:43] varwnosg commented on #396
Trying to use AMQP over Websockets as a more firewall friendly solution I encountered a few issues which guide me in this closed thread. I read the instructions to build the necessary libraries for AMQP over websockets. I was wondering if there is available an AMQP over Websockets Nuget Package fro Visual Studio?

[2016-09-01 11:04] DiogenesB commented on #795
I'm having the same issue here.

[2016-09-01 18:22] anhashia commented on #653
Issue is being worked upon. Current ETA for this is end of October.

[2016-09-01 18:54] jtanner-msft commented on #760
We have developed an update that resolves this which is being checked in.  It should be in develop branch later today or tomorrow.  Closing issue.

[2016-09-01 18:54] #760 closed

[2016-09-02 05:36] Rohit-MSFT commented on #705
@merjadok at this time there does not seem to be a mechanism by which these exceptions can be handled outside the thread. Registering a global exception handler for the thread will catch only the unhandled exceptions. The code you pointed out unfortunately catches all the exception in transport, and we currently do not have a plan to change it.

[2016-09-02 05:36] #705 closed

[2016-09-02 05:53] dominicbetts commented on #792
@pierreca - I don't have access to those particular documentation files on https://azure.microsoft.com/develop/iot/get-started/ . Can you try @olivierbloch  or @hegate?

[2016-09-02 22:25] ravenzachary commented on #795
This may be unrelated, but Rick Rainey's walkthrough of the Adafruit Feather Kit worked perfectly! That's a different kit that the one I referenced above, and setup steps are quite unique, but at least I was able to get one kit talking to the Azure IoT Hub!

http://rickrainey.com/2016/06/22/add-custom-device-azure-iot-suite-remote-monitoring-solution/

[2016-09-02 22:44] jtanner-msft commented on #757
Hi @cnvery,

  I’ve found that if you leave the certificates in place and simply remove the call to SendMessage2(), within the function SetGreenTime() then the sample appears to continue to work reliably in that I can continue to receive new messages that are sent from Cloud 2 Device.  You can continue to see that the new values are getting printed out whenever you send them, even if the client is

[2016-09-03 07:50] cnvery commented on #757
Hi @jtanner-msft,

I have tried again just like what you suggested.

However, the AMQP connection problem still occured.

You can refer to the error from this image.

![34234](https://cloud.githubusercontent.com/assets/15714095/18223582/081d8f26-71ee-11e6-9889-f37dd6a19807.PNG)

Now, I am unable to continue development for my project due to this problem.

[2016-09-03 09:12] Jvaeyhcd opened #797 "InternalServerError: AMQP Transport: Could not send message"
[code]

i send a message to device but `InternalServerError: AMQP Transport: Could not send message`

[2016-09-05 08:58] lmussier commented on #756
You are welcome :)

2016-08-23 22:16 GMT+02:00 markrad <notifications@github.com>:

[2016-09-05 09:01] lmussier commented on #611
Hi,

The problem was related to proxy stuff, removing the proxy from the equation do the trick for me.
But I don't think this will help you sorry.

[2016-09-05 14:14] cnvery commented on #611
Hi @lmussie,

Thanks for your reply.

I will find a way to solve this.

[2016-09-05 21:53] ChristianBeier opened #798 "ConnectionString with X509 (nodejs, c, python)"
The connection string from Device Explorer contains "X509" whilst connection_string.js checks for "x509" as well as the c SDK and python. C#/.Net expects X509.
Please fix this inconsistency.

[2016-09-06 09:16] lmussier commented on #646
@chrit-msft Hi, any update on the subject ?

[2016-09-06 17:22] mtuchkov opened #799 "Make async calls configurable with ConfigureAwait(continueOnCapturedContext)"
This is the best practice for libraries that allows to do a 'sync over async' in the user code and do not cause deadlocks.

See [Stephen Toub's blog post](https://blogs.msdn.microsoft.com/pfxteam/2012/04/13/should-i-expose-synchronous-wrappers-for-asynchronous-methods/)

Also, see issue #764

[2016-09-06 18:07] jtanner-msft commented on #757
Hi @cnvery,

  In looking up error code -3 for getaddrinfo it means:

# define EAI_AGAIN        -3    /* Temporary failure in name resolution.  */

 So it sounds like your Edison is not able to resolve the name of your IoTHub.  So it sounds like you might well have a firewall issue preventing connectivity from your Edison.

 I would suggest that you test that you can actually access your IoT Hub f

[2016-09-06 18:22] pierreca commented on #797
@Jvaeyhcd
Forgive me if I'm asking the obvious but it's not in the code: are `deviceNumber` and `printResultFor` defined and initialized?

Also, there should be more info to debug the issue in the error object itself (that you can intercept in `printResultFor`), especially in the `err.amqpError` property. can you stringify those objects and paste them here?

Thanks!

[2016-09-06 20:17] markrad commented on #698
Hi @cnvery,

Is Eclipse running **on the Edison** or on a desktop machine?

[2016-09-06 20:28] olivierbloch commented on #792
I have just pushed changes to the documentation. Links should be updated on the site in the next hour or so. I'll close the issue as soon as that's the case.
Thanks

[2016-09-06 21:28] #792 closed

[2016-09-06 21:39] dcristoloveanu commented on #794
Hi @alfintatorkace,

Sorry for the delay in the reply.
I think the problem is that message_set_application_properties expects a uAMQP map.

Doing message_set_application_properties(message, prop_map); should do the trick.

Let me know if this does not work.

Cheers,
/Dan

[2016-09-06 23:30] markrad commented on #580
Hi @rajvael,

On the Intel Edison board I am able to get this sample to work if I remove the #ifdef and #endif from this code:

[code]

You will also need to copy the certificate strings into your code from c/certs.c. The variable is called certificates. Copy the entire array into your code for use by the lines above.

I don't know why the Edison's OpenSSL will not recognize the certificates in th

[2016-09-06 23:44] anhashia commented on #771
Hi @yan2750
Thanks for your patience ! I had chance to investigate this issue is some detail. There are number of scenarios here. It depends which option (programming language) you want to choose. There are number of programming language options here listed under
https://github.com/Azure/azure-iot-sdks and each would involve its own development and run setup.
For example, node.js would involve ins

[2016-09-06 23:55] markrad commented on #580
Hi @rajvael,

Further update: I retested this on my Arduino Yun and I was able to successfully send messages to the IoT Hub without adding the TrustedCerts option. Possibly this issue has been inadvertently addressed by updates to the SDK. Much work has gone on in the last month or to improve reliability on smaller devices. Perhaps you would like to test this again?

_Mark Radbourne MSFT_

[2016-09-07 00:24] markrad commented on #588
Hi @wangxhere,

Using the latest version of the SDK in the develop branch I was able to get my Arduino Yun to successfully connect to the IoT Hub using AMQP. Though I am unable to identify a specific fix that addressed this it may have been inadvertently fixed. This was failing on my Yun previously and now it appears to work with both AMQP and HTTP.

Perhaps you could try this again? I know you ar

[2016-09-07 00:33] ravenzachary commented on #795
Two of the devices I was running into this problem with have mysteriously shown up in my Azure IoT Suite dashboard. It looks like, in my case, there was some outage with the Azure IoT Suite that delayed the appearance of new devices by several days.

[2016-09-07 00:53] markrad commented on #707
Hi @davidv9345,

Did you ever retry this? I am unable to reproduce your issue once I use the TrustedCerts option.

_Mark Radbourne MSFT_

[2016-09-07 00:57] markrad commented on #720
Hi @kevinledinh,

Thank you for the update. I'll inform the product group of your findings and let them take it from there.

_Mark Radbourne MSFT_

[2016-09-07 01:09] anhashia commented on #771
Hi @yan2750
It is work in progress. Some changes for making this work are already in develop branch of  azure-c-shared-utility. Check `build.sh `under https://github.com/Azure/azure-c-shared-utility/tree/develop/build_all/linux

[2016-09-07 01:52] alfintatorkace commented on #794
Thanks Dan, that worked great, figured it was something simple.  Guess I over reverse engineered what I did on the receive side.

One other question that wasn't obvious from the simple samples.  I notice if I connect and start sending right away, I get a send error in the send confirmation callback as the message_sender_instance state is not yet MESSAGE_SENDER_STATE_OPEN.  Is there a connect callb

[2016-09-07 04:12] dcristoloveanu commented on #794
Hi @alfintatorkace,

on_message_sender_state_changed passed to messagesender_create can tell you when the message sender state has changed to _OPEN (or any of the other states).

Hope this helps,
/Dan

[2016-09-07 05:25] rainmakerho opened #800 "How to handle Microsoft.Azure.Devices.Client exception at UWP app, when TransportType set Amqp ?"
Hi Sirs,
May I ask a question? I use Microsoft.Azure.Devices.Client to receive message from IoThub in my UWP App. Because My IotHub Quota Exceeded. I can handle the QuotaExceeded, if TransportType set Http1.
If TransportType set Amqp, I can't handle exception. It will cause System.NullReferenceException, I can't handle error at UnhandledException Event.
May I handle exception when TransportType se

[2016-09-07 18:51] anhashia commented on #775
Hi @jiangzhibin
Thanks for patience ! I don’t see any issue with building **x86_64** on x86 64 bit Ubuntu machine on latest master. The processor architecture will be automatically determined as CMake tool is run which would use CMakeLists.txt.  For azure-c-shared-utility you should see `azure-shared- -- Shared_Util architecture: x86_64` messages in your terminal output window if you are building

[2016-09-07 20:42] anhashia commented on #775
Hi @jiangzhibin
Just wanted to add that you also have an option of using **node.js** on Mac OS X. Install the node.js on Mac OS X. And then follow documentation at https://github.com/Azure/azure-iot-sdks/blob/master/node/device/core/readme.md to install the required **azure-iot-sdk** packages and run the sample after replacing connection string with you device connection string. Programming langua

[2016-09-07 20:49] anhashia commented on #771
Hi @yan2750
You also have option to using node.js on Mac OS X in case you want to use JavaScript.
#775

[2016-09-08 09:08] jiangzhibin commented on #775
@anhashia  Thanks for your patience! Please let me introduce our project requirements about IoT for you!

We need send orders to iOS device by azure IoT, so we must integrate the azure-iot-sdks into our app(iOS). As far as I know Xamarin which you suggested just only uses C# programming language, but we need code other project requirements using Objective-C, it may doesn't suit us.

In addition, T

[2016-09-08 18:33] arturl commented on #749
Should be fixed in the latest release.

[2016-09-08 18:33] #749 closed

[2016-09-08 18:50] rajeevmv commented on #782
You can use either [OpenSSL](https://www.openssl.org/) or [Windows SelfSignedCertificate](https://technet.microsoft.com/library/hh848633).

[2016-09-08 21:50] anhashia commented on #775
Hi @jiangzhibin
For Mac OS X, work is currently going on. Please check
https://github.com/Azure/azure-c-shared-utility/commit/cae5fd8b21b87eff073763f6ee60491b1c8f97f5

[2016-09-09 07:22] tameraw commented on #781
@ritave - Thanks for filing this issue. We'll look at this.

[2016-09-09 07:33] tameraw commented on #776
@tkysmz - We totally understand your concern. We're looking at options to bring in the latest SDK features into a Java SDK that is platform-independent.
Thanks.

[2016-09-09 08:04] kevinledinh commented on #720
Hi @markrad ,

A pull request has been successfully done, see #790.

Best wishes,

[2016-09-09 08:04] #720 closed

[2016-09-09 08:54] kevinledinh opened #803 "[JAVA] Potential infinite loop while closing Device Client obj"
Hi Azure IoT Hub Team,

In normal operation the IoT Hub SDK automatically detects a loss and reconnects to the server. However, after running for > 4 hours, this automation mechanism seems to stop working, and I have to force a reconnection if no acknowledgement is heard from the Server.

During the manual re-connection, I noticed that if the device is closed (using device.close() ) and re-opened

[2016-09-09 09:01] lmussier opened #804 "[C][Linux] Connection retry frequency"
Hi,
I encounter an issue with the connection retry mechanism on a small target.
If I try to connect to the iot hub without a network link it obviously fails, but the static int ScheduleWork_Thread(void* threadArgument) function runs every 1ms.
And on my target, it take almost all the CPU. What I plan is to patch the SDK to slow the loop a bit, but what I don’t see is impacts of doing that, will I

[2016-09-09 11:26] varwnosg opened #805 "AMQP over Websockets Certificate Issue"
Hello,

Recenlty, I tried to test the "iothub_client_sample_amqp_websockets" SDK sample. Thus, after building it following the guide in the next link,

https://github.com/Azure/azure-iot-sdks/blob/master/doc/get_started/amqp-c-websockets-run-sample.md

I got the error, "ERR: server's cert didn't look good, X509_V_ERR = 20", which means that OpenSSL trusted list does not include the necessary certi

[2016-09-09 19:06] jtanner-msft commented on #777
Hi @AlexandreMarechalSE

I just wanted to let you know that I'm still looking into this with some colleagues.  No fix yet, but we're still debugging it.  Thanks for your patience.

[2016-09-09 21:43] #181 closed

[2016-09-09 22:39] tameraw commented on #414
This has been addressed for AMQP & HTTP protocols.
This will come later for MQTT.

[2016-09-09 22:39] #414 closed

[2016-09-10 00:26] tameraw commented on #459
Controlling SAS token expiration has been added in the Java SDK. Please let us know if you see any issues.

[2016-09-10 00:26] #459 closed

[2016-09-10 00:26] pierreca commented on #437
typings have now been added directly into both device and service SDKs packages. HTH!

[2016-09-10 00:26] #437 closed

[2016-09-10 00:29] tameraw commented on #424
A backlog item is created to pass SAS token on the service client side. Should be provided in a future release.

[2016-09-10 00:29] #424 closed

[2016-09-10 01:28] anhashia commented on #556
We have captured this in our product backlog as a low priority work item. If you are blocked because of this at some point in future, please feel free to open the issue.

[2016-09-10 01:28] #556 closed

[2016-09-10 02:14] arturl commented on #800
Hi @rainmakerho,

Looks like there is a few things going on.

1. Microsoft.Azure.Devices.Client.PCL.dll does not support AMQP, Instead, you should use Microsoft.Azure.Devices.Client.winmd for UWP. If you just install the Microsoft.Azure.Devices.Client NuGet package, it will do the right thing for you. UWP supports both AMQP and HTTP.

2. The NullReferenceException is a bug, but it only happens dur

[2016-09-10 07:36] rainmakerho commented on #800
Hi @arturl ,
    I use Microsoft.Azure.Devices.Client.PCL.dll for debug purpose, because i can handle the NullReferenceException from Microsoft.Azure.Devices.Client NuGet package dll.

I'll look forward the new version.

Thank for your help.

[2016-09-10 07:37] #800 closed

[2016-09-11 20:14] dcristoloveanu commented on #805
Hi @varwnosg
I have just seen the same when using SChannel and the WS endpoint. In SChannel terms this is SEC_I_RENEGOTIATE.
We are investigating the issue and will keep this thread updated.

Thanks,
/Dan

[2016-09-12 00:29] tkysmz commented on #776
Hi @tameraw

Wow, I'm waiting for being merged the feature.
Thank you so much.

[2016-09-12 07:54] oriolpinol commented on #803
I encountered this problem as well and reported it: #684

[2016-09-12 08:09] kevinledinh commented on #803
Thanks @oriolpinol . My workaround is to break out of the loop after a certain timeout. I'll keep an eye for the fix.

[2016-09-12 08:15] kevinledinh commented on #803
A bit more information:

While checking if the transport is empty, the inProgress message queue is never emptied, and it never will be if a reconnection is not established. Therefore, the while loop never returns.

[2016-09-12 13:50] varwnosg commented on #805
Thanks Dan. I will be waiting!

[2016-09-12 14:50] lmussier commented on #804
Made some tests, and we ran into an authentication time out at some point (go from 1ms to 1s in schedule work). The next question is how to slow things...

[2016-09-12 20:00] tameraw commented on #803
@kevinledinh - Thanks for filing this issue. We're investigating.

[2016-09-12 20:31] alfintatorkace commented on #794
I've got another issue with setting message properties, specifically "SessionId".  I saw somewhere that this translates to group-id, and when I set session id in a message using service bus explorer, I can receive messages in my c code using properties_get_group_id.

Using the message_sender sample, I tried this code before sending a message:
			PROPERTIES_HANDLE properties = NULL;
			message_get_

[2016-09-12 23:25] arturl commented on #762
Hi @programmersommer,

Sorry it took me a while to get back to you.

I've looked at your UWPAzureIotHub project. When used with 1.0.11 Azure.Devices.Client library, `ReceiveAsync` can return null with AMQP protocol, so you need a while loop to handle that. When using a more recent version of the the library (1.0.19), null message is fixed, so the while loop is no longer necessary.

In either case,

[2016-09-12 23:25] #762 closed

[2016-09-13 00:15] tameraw commented on #654
@BlueBasher - Closing this since a SetSASTokenExpiryTime option has been added. If it's blocking you in any way, please feel free to open.

[2016-09-13 00:15] #654 closed

[2016-09-13 09:46] jackoneill23 opened #814 "EROFS Error on DefaultCertificate"
I'm not able to estabilish connection to my iot-hub because i gain the error in the object.
I'm running it on android M version 6.0.1.
The version of the lib is 1.0.13, but i have this error also with the oldest version.

this is the error:

java.io.IOError: java.io.IOException: open failed: EROFS (Read-only file system)
at com.microsoft.azure.iothub.DefaultCertificate.getDefaultCertificate(Defaul

[2016-09-13 13:50] sergaz-msft commented on #795
Hi @ravenzachary . Can you still reproduce the same issue you describe above? On the same or a different Azure IoT Suite project? Also please send me your subscription ID and the Azure IoT Suite name so that I can have a look at it on the date that the issue occurred (1st of September I suppose?). Thanks!

[2016-09-13 14:29] wangxhere commented on #588
Hi @markrad

With the latest master branch of Azure IoT library, this issue is gone. I'm closing this issue. Thanks so much.

Best Regards,
Wang Xian

[2016-09-13 14:29] #588 closed

[2016-09-13 15:13] Kunjan123 opened #815 "Azure IOT C# device client SDK: X509 certificate based authentication throws "Unauthorized exception""
Hi,

Microsoft. Azure.devices version : 1.0.15
Microsoft.Azure.devices.client : 1.0.19

I wrote a sample application modifying C# sample for AMQP. Modification is regarding AMQP over web sockets using X509 certificate based authentication.

I have registered the certificate thumbprint in IOT hub. But when I try to send message to cloud, I always encounter an "Unauthorized" exception in the IOT cli

[2016-09-13 15:57] rajeevmv commented on #815
I don't see the sample application attached. Also, can you provide your IotHub name and time window of failure?

[2016-09-13 17:25] jtanner-msft commented on #580
Closing as I have not seen any update from @rajvael.  If you still see the problem after testing with the updated SDK, please feel free to re-open the issue.

[2016-09-13 17:25] #580 closed

[2016-09-13 17:37] jtanner-msft commented on #757
Hi @cnvery , I'm hoping that you were able to determine what you needed to do to unblock those ports on your Edison.  Since I haven't seen a response in over a week now I'm going to close this issue.  If you do need assistance in the future please feel free to either re-open this one or create a new issue that references this one.

[2016-09-13 17:37] #757 closed

[2016-09-13 17:42] jtanner-msft commented on #707
Hi @davidv9345,  It's been over a month now and we haven't seen any response yet.  If you still see the issue with the latest SDK please feel free to re-open the issue.

[2016-09-13 17:42] #707 closed

[2016-09-13 18:02] tameraw commented on #549
@pizerg - In the C client SDK we provide the option to set "no timeout" in which case the client will attempt to send the message, then will invoke the callback with the status right away. Currently that's not an option in the Java SDK. We're working on solution to align all c-client features with the java client while maintaining the cross platform benefit of a java SDK.

[2016-09-13 19:42] tameraw commented on #619
@eissi - We had several fixes since then. Please try and reopen with any issues you might face.

[2016-09-13 19:42] #619 closed

[2016-09-13 19:51] tameraw commented on #699
@lmussier - Thanks for filing this. Looking at this issue.

[2016-09-13 19:56] tameraw commented on #786
@damienpontifex - Thanks for filing this issue. We'll look at your suggestion.

[2016-09-13 19:57] tameraw commented on #798
@ChristianBeier - Thanks for filing this issue. We'll make the proposed fix soon.

[2016-09-13 22:30] anthonyvercolano commented on #781
Fixed in next release.

[2016-09-13 22:30] #781 closed

[2016-09-14 00:09] anhashia commented on #814
Investigating !

[2016-09-14 00:15] anhashia commented on #814
Hi @jackoneill23
I will try to see if I can locally reproduce the issue. I am assuming that you are using following steps https://github.com/Azure/azure-iot-sdks/blob/master/doc/iotcertification/iot_certification_android_java/iot_certification_android_java.md to build and test the **sample**. Is that correct  ?

[2016-09-14 00:23] anhashia commented on #748
Investigating !

[2016-09-14 03:16] dcristoloveanu commented on #805
@varwnosg
This bug has been fixed and AMQP over WS functionality should be working now for C.
The fix was checked into the develop branch and will be picked up in our next release.

Thanks!
/Dan

[2016-09-14 03:16] #805 closed

[2016-09-14 06:34] jackoneill23 commented on #814
Hi @anhashia thanks for your reply.
I was already working on my own project with 1.0.7 version of the library and everything was ok when I was compiling on **debug**.

When I run the application on **release** mode I found that the app crashes with this error: "java.lang.ExceptionInInitializerError" so I started to investigate about this and I updated the version of the library to the latest one a

[2016-09-14 07:00] pizerg commented on #549
@tameraw That's great news, thanks for the update!

[2016-09-14 07:41] oriolpinol opened #818 "Java SDK NoSuchElementException AMQPS transport"
Hi,
My application just got stuck in an infinite loop throwing NoSuchElementException:

`java.util.NoSuchElementException: null
java.util.LinkedList.removeFirst(LinkedList.java:270)
java.util.LinkedList.remove(LinkedList.java:685)
com.microsoft.azure.iothub.transport.amqps.AmqpsTransport.invokeCallbacks(AmqpsTransport.java:240)
com.microsoft.azure.iothub.transport.IotHubSendTask.run(IotHubSendTask

[2016-09-14 08:20] Kunjan123 commented on #815
Hi Rajeev,
Please find the required details.

IOT Hub name : CSA-IoTSP-Secure-Hub
Time windows of failure - 13th September between 2-4 PM Central European time
                                          14th September 10 - 10.15 AM Central European time

[sample.docx](https://github.com/Azure/azure-iot-sdks/files/471556/sample.docx)
Somehow am not able to upload .zip files. So I have copied the sam

[2016-09-14 12:02] varwnosg commented on #805
g

[2016-09-14 12:23] varwnosg commented on #805
Hi Dan,

I tried the fix but the sdk was crashing in "xio.c" at,

xio_instance->concrete_xio_handle = xio_instance->io_interface_description->concrete_io_create((void*)xio_create_parameters);

with the error "access violation reading error" because no certificate is passed in the following structure in iothubtransportamqp_websockets.c

XIO_HANDLE getWebSocketsIOTransport(const char* fqdn, int port

[2016-09-14 14:04] mregen commented on #788
@sanket-kulkarni-vmware yes there is no explicit method. when the object is destroyed the connection is closed.

the message set_message_callback() function receives only the c2d messages: https://msdn.microsoft.com/en-us/library/mt590786.aspx

[2016-09-14 15:40] rajeevmv commented on #815
Hi Kunjan123,

I will take a look at your sample. In the meantime, please remove the private credentials from your document.

[2016-09-14 15:46] Kunjan123 commented on #815
Thanks. Attached the cleaned up sample

[2016-09-14 15:59] rajeevmv commented on #815
Please remove the IotHub connection string entirely.

[2016-09-14 16:06] Kunjan123 commented on #815
Ok.

[2016-09-14 16:15] rajeevmv commented on #815
I ran the attached X509 sample against your IotHub using a self-signed cert and it worked fine. Can you give it a try after plugging in your IotHub details and your X509 cert?

[X509Sample.zip](https://github.com/Azure/azure-iot-sdks/files/472656/X509Sample.zip)

[2016-09-14 16:21] Kunjan123 commented on #815
Hi Rajeev,

Thanks for your reply. If this is the sample from
https://github.com/Azure/azure-iot-sdks/issues/759

I have already tried it. I do get the same error "Unauthorized exception" with this as well. I am not sure what is going wrong. Can it be a configuration issue?

The strange thing is that it just works fine, when I change the transport type to http1

[2016-09-14 16:30] Kunjan123 commented on #815
I tried the sample you sent just now as well, just replacing the certificate and IOT hub details there. It gives me unauthorized exception again. can it  be something to do with the certificate which I use?

[2016-09-14 16:43] dcristoloveanu commented on #805
@varwnosg
Interesting. I see these changes (removing the extra made it to develop (https://github.com/Azure/azure-iot-sdks/compare/develop).
DId you update the submodules after switching to develop by running git submodule update --init --recursive ?

The changes we pushed in are to pass down the certificates to wsio via the set_option function. I suspect that the azure-c-shared-utility did not ge

[2016-09-14 17:07] rajeevmv commented on #815
Can you retry the sample while also reusing its certificate from #759 ?

From the logs on the service, it appears that the DeviceClient is not presenting the certificate to the service. I would verify using a debugger that the X509Certificate2 object is properly initialized with the correct certificate details.

[2016-09-14 21:26] zolvarga commented on #818
Hi oriopinol,

I am working on the fix and will let you know...

Zoltan

[2016-09-14 21:40] oriolpinol commented on #818
@zolvarga Great! Thanks!

[2016-09-14 23:21] arturl commented on #226
Hi @ruttopia,

This is part of the restrictions on WinRT components (see [here](https://msdn.microsoft.com/en-us/library/br230301.aspx#ThrowingExceptions)).

We could introduce HRESULT codes that correspond to specific exception types, but that would require the client code to do error code translation.

[2016-09-14 23:21] #226 closed

[2016-09-15 01:14] sbuster commented on #815
I also get an UnauthorizedException using the X509Sample provided above.  I'm able to successfully register the device but when I try to send data it throws an exception.

Couple of items that are not clear to me:
1) I'm assuming I use my public certificate when registering the device?
2) Is there a specific format of the key I should
3) Why can I create a device with the key (and see it in Device

[2016-09-15 08:19] Kunjan123 commented on #815
Hi Rajeev,

I tried also the certificate files in the #759 . But still I get the same error.
I checked the X509Certificate2 using the debugger and it seems to be properly initialized.
Not sure what exactly is going wrong.

Thanks

[2016-09-15 08:20] Kunjan123 commented on #815
By the way, I verified the wireshark logs and I can see that the client certificate is not sent as part of TLS handhsake

[2016-09-15 15:23] rajeevmv commented on #815
Which version of the DeviceClient NuGet package are you using?

[2016-09-15 16:15] zolvarga commented on #818
Hi oriopinol,

The fix checked in to develop branch. Please let me know if it worked for you.

Thanks,
Zoltan

[2016-09-15 21:25] robichaud opened #821 "CloseAsync() Does Not Close IoT Hub Connection"
There is a bug in the `GateKeeperDelegatingHandler` class's `CloseAsync()` method: Calling this method does not close the IoT Hub connection as it should.

[GateKeeperDelegatingHandler Line 116](https://github.com/Azure/azure-iot-sdks/blob/master/csharp/device/Microsoft.Azure.Devices.Client/Transport/GateKeeperDelegatingHandler.cs#L116)

_Simple fix:_ `if (!this.TryCloseGate())` _should be_ `if (t

[2016-09-16 03:47] anhashia commented on #814
Hi @jackoneill23
I tried with debug mode (which is by default) and it worked fine. My next step will be to try in **release** mode and check if I see the same error that you are seeing.

[2016-09-16 17:35] tameraw commented on #582
@rajvael - There has been several fixes addressed since this issue has been reported. Can you please try against the latest in "develop" branch and report if you're still blocked with any issues. Thanks.

[2016-09-16 17:46] chrit-msft commented on #602
@jsiegmund I still haven't been able to reproduce this issue and I haven't heard back from you about the stack trace.  If you are still seeing this behavior please re-open this GitHub issue.

[2016-09-16 17:46] #602 closed

[2016-09-16 17:57] #582 closed

[2016-09-16 18:18] tameraw commented on #704
@lmussier - Back to this. We're working on providing a mechanism in the SDKs by which you can find out recoverable/un-recoverable errors with the connection/sending/receiving.

[2016-09-16 20:50] tameraw commented on #429
@pizerg - A fix has been checked into the develop branch and will be released to master soon (ETA 9/23). If you face any blocking issues, please let us know. Thanks.

[2016-09-16 20:50] #429 closed

[2016-09-16 21:00] chrit-msft commented on #661
@eissi As this issue is now resolved and I haven't heard from you I will be closing this issue.  If you run into this behavior again please reach out.

[2016-09-16 21:00] #661 closed

[2016-09-16 21:18] tameraw commented on #714
@Injac - @joshuazsprague - Thanks for highlighting this. We'll revise our documents.

[2016-09-16 21:33] tameraw commented on #665
@lmussier & @QiMata  - Working on a fix to release soon. Thanks for your patience.

[2016-09-16 21:44] tameraw commented on #646
@lmussier - Currently not supported. Is this a blocking issue on your end?

[2016-09-16 22:02] tameraw commented on #604
@edyrli & @jtjk - We're investigating this issue. Thanks.

[2016-09-16 22:44] tameraw commented on #818
@oriolpinol - Closing. Please feel free to open a new issue if still having any problems. Thanks.

[2016-09-16 22:44] #818 closed

[2016-09-17 00:02] tameraw commented on #734
@AlexandreMarechalSE - Are you seeing the same issue if you use our implementation? We had recently released support to set proxy support on Linux.

[2016-09-17 00:03] tameraw commented on #699
Reproduced it and working on a fix.

[2016-09-17 00:18] tameraw commented on #735
@AlexandreMarechalSE - I'll respond to each of your issues one by one:
1) It is no longer needed that you comment out the retrieveoptions. This now should've been addressed.
2) The second one "static const IO_INTERFACE_DESCRIPTION ws_io_interface_description =" --> Also fixed.
3) Your last change in regards to wsio_close is valid and if you would like to submit a PR for it, we would review and mer

[2016-09-17 00:46] jtanner-msft commented on #777
Hi @AlexandreMarechalSE, I've just tested the issue with the latest develop branch of the SDK and am no longer seeing the sample reach the point of a seg fault.  With that said the client does not appear to be able to establish a good connection to the IoT Hub given the network rules that are in place, but at least the client is no longer crashing.  I'll discuss this further with the product team

[2016-09-17 06:23] rajvael opened #826 "How to disable certificate validation in C library?"
Hello,
        Please suggest me how can I disable certificate validation? We need a custom certificate validation so we want to disable default certificate validation because we want to exclude start and end date certificate validations. It will be great if someone suggest me any switch or flags available to disable. If there is no switch, please suggest me the file that do the certificate valida

[2016-09-17 06:26] rajvael commented on #582
This issue is fixed in branch version 2016-08-26

[2016-09-17 10:27] galingeorgiev opened #827 "ConnectionState is always Disconnected if I use TransportType.Http1"
The issue I face is that Microsoft.Azure.Devices.Device.ConnectionState is always Disconnected if I use TransportType.Http1

What I am doing to connect device to IoT hub:

        static void Main(string[] args)
        {
            string conStr = "HostName=nyHubName.azure-devices.net;DeviceId=XXX;SharedAccessKey=xxxxxxxxxxxxxxxx";

            Console.WriteLine("Simulated device\n");

[2016-09-18 03:53] yaweiw opened #828 "setup.bat leads to ErrorCode:InvalidProtocolVersion;BadRequest"
Provisioning devices...
Deserializing sampledevices.json
{"Message":"ErrorCode:InvalidProtocolVersion;BadRequest","ExceptionMessage":"Tracking ID:a33335f891bd4d3a9d6d5656c32bece0-G:4-TimeStamp:09/18/2016 03:48:41"}

Looks somethings to do with nugget package version referenced.

[2016-09-18 22:46] pierreca commented on #828
Hi @yaweiw

a little more context would help. Are you trying to run the Device Management Samples? in what language? Have you enabled device management preview on your hub?

[2016-09-19 01:25] twgcriot opened #830 "C SDK MQTT - Intermittent Network Connection"
I am using C SDK and MQTT transport. My device has intermittent connection to internet. When the network connection drops, the C SDK does not raise any error. Also when the network connection resumes the messages sent during the network failure or even after it don't reach IoT Hub.

How long (or how many messages) does the C SDK buffer in the event of network disruption?

Is there a way to check s

[2016-09-19 07:17] Kunjan123 commented on #815
Hi Rajeev,
sorry for the delay. I was travelling.

I am using
Microsoft.Azure,.devices  version 1.0.14
Microsoft.Azure.devices.client version 1.0.17

I see that devices.client version 1.0.19 has been released. Will upgrading to 1.0.19 solve the issue?

Thanks

[2016-09-19 14:16] sergaz-msft commented on #795
Hi again @ravenzachary I am setting this issue as solved since you can now see the devices on your Azure IoT Suite dashboard. Please feel free to let us know if you are still encountering any problems. Thanks!

[2016-09-19 16:21] tameraw commented on #826
@rajvael - There is currently no switch to disable certificate validation in the SDK.

However we do provide the option to pass your cert using the "TrustedCerts" via the SetOption API.
See the sample: [https://github.com/Azure/azure-iot-sdks/blob/master/c/iothub_client/samples/iothub_client_sample_amqp/iothub_client_sample_amqp.c](url)

The option is available on Linux & MBED. It's also available

[2016-09-19 16:39] #795 closed

[2016-09-19 16:47] tameraw commented on #830
@twgcriot - Thanks for reporting this:
“When the network connection drops, the C SDK does not raise any error.”
This is true. We’re in the midst of refining the APIs to allow detecting such an event.

“Also when the network connection resumes the messages sent during the network failure or even after it don't reach IoT Hub.”
We have retry logic implemented which should re-connect once the network

[2016-09-19 16:56] tameraw commented on #827
@galingeorgiev - Thanks for reporting this.
What you're seeing is expected and it will only happen when using HTTP protocol. With AMQP or MQTT, you should be able to see a true connection state. In HTTP, the ConnectionState can be ignored.
It will always show disconnected due to the nature of the HTTP protocol which does not maintain a connection.

Hope this helps.

[2016-09-19 17:23] anhashia commented on #814
Hi @jackoneill23
I didn't see the issue in **release** mode with default 1.0.7 that sample uses . But I do see the issue locally that you reported on latest **1.0.13** iothub-java-device-client library . It needs some further investigation. In the meantime, you can use 1.0.9 if you want to upgrade from 1.0.7 to later versions. 1.0.9 doesn't have this issue.

[2016-09-19 17:59] anhashia commented on #775
Closing. Please re-activate if you have any further questions on this. Thanks !

[2016-09-19 17:59] #775 closed

[2016-09-19 18:02] anhashia commented on #771
Closing. Please re-activate if you have any further questions on this. Thanks !

[2016-09-19 18:02] #771 closed

[2016-09-19 18:10] anhashia commented on #647
Referencing #814 which covers same scenario

[2016-09-19 18:10] rajeevmv commented on #815
I was using Microsoft.Azure.Devices.Client version 1.0.13 when I successfully ran the X.509 sample above. I am not aware of any issues with using version 1.0.17 or even the latest (1.0.19).

One other option might be to clone the solution for azure-iot-sdks and build you own version of the Microsoft.Azure.Devices.Client.dll. You could set a breakpoint in [IotHubConnection.cs](https://github.com/Az

[2016-09-19 18:18] anhashia commented on #647
Hi @XavierGe
Please following instruction at https://github.com/Azure/azure-iot-sdks/blob/master/doc/iotcertification/iot_certification_android_java/iot_certification_android_java.md.

Android **sample** is located at  java\device\samples\android-sample and by default uses 1.0.7 **iothub-java-device-client** library. AMQPS protocol should also work with this sample.

[2016-09-19 21:20] tameraw commented on #763
@sanket-kulkarni-vmware - Currently we provide a document on how to start running the sample in Python. [https://github.com/Azure/azure-iot-sdks/blob/master/python/device/readme.md](url)
We'll work on generating API docs for the Python libraries.

[2016-09-19 21:23] tameraw commented on #782
@sanket-kulkarni-vmware - Please let us know if you have any other questions or issues. Thanks.

[2016-09-19 21:23] #782 closed

[2016-09-19 21:28] tameraw commented on #804
@lmussier - Slowing things down in the SDK should work. Let us know if you encounter any issues.
FYI - We are currently working on providing knobs to the users of the SDKs to select a "Retry Policy" and bound the retry to a specified timeout.

[2016-09-20 01:00] tameraw commented on #773
"I serialized my data manually with Parson library and it worked better. Maybe it's better to deprecate serializer module and direct people to Parson?"

@ritave - Thanks for your feedback. We'll look into this in the future. Meanwhile, please let us know if you're blocked.

[2016-09-20 01:02] ritave commented on #773
Nope

On Mon, Sep 19, 2016, 18:00 tameraw <notifications@github.com> wrote:

[2016-09-20 01:06] anhashia commented on #748
Working on local reproduction of the issue.

[2016-09-20 03:45] Kunjan123 commented on #815
Hi Rajeev,

Am not sure what is happening. But can you also try with the same versions in which I have tried?
I have not done any modification to the X509Sample you have provided apart from the IOT hub details.

I have debugged into the IotHubconnection.cs and also the web socket layer, but I could not identify where the problem is?

Thanks

[2016-09-20 05:09] tameraw commented on #798
Fix provided in "develop" branch and ETA to release to master is end of this week.

[2016-09-20 05:09] #798 closed

[2016-09-20 05:44] rajvael commented on #826
The reason behind this i want to avoid the below error when I run the iothub sample amqp over websocket. Below is the output I am getting after run the program. How the certificate validation failing if I am not enabling it.

Starting the IoTHub client sample AMQP over WebSockets...
Info: IoT Hub SDK for C, version 1.0.14
IoTHubClient_SetMessageCallback...successful.
[1474350084:7637] NOTICE: Init

[2016-09-20 05:49] tameraw commented on #702
@ebeistle - Thanks for filing this. We're evaluating your proposal and will update you.

[2016-09-20 05:54] tameraw commented on #788
@sanket-kulkarni-vmware - Let us know if facing any issues. Thanks.

[2016-09-20 05:54] #788 closed

[2016-09-20 06:10] tameraw commented on #826
@rajvael
1) Which platform are you running when encountering this issue?
2) Which version of the SDK are you using?

Thanks.

[2016-09-20 06:42] tameraw commented on #797
@Jvaeyhcd - Let us know if still having issues. Thanks.

[2016-09-20 06:42] #797 closed

[2016-09-20 06:45] rajvael commented on #826
Branch : 2016-08-26 release
Code is compiled  in **Linux lcbs-dev-vm 3.19.0-68-generic #76~14.04.1-Ubuntu SMP x86_64 GNU/Linux** using cross compiler
Running Linux: **Linux 3.14.39ltsi-WR7.0.0.9_standard #4 SMP PREEMPT armv7l GNU/Linux**

[2016-09-20 07:49] jackoneill23 commented on #814
Hi @anhashia,
using 1.0.9 version and AMQPS protocol it works fine.
if I try to use MQTT protocol instead I have  "java.lang.ExceptionInInitializerError" exception.

Thanks a lot for your support.

[2016-09-20 09:41] Jvaeyhcd commented on #797
@pierreca When i debug，i found the `err. amqpError ` show like this:
![image](https://cloud.githubusercontent.com/assets/6993775/18665291/179fb866-7f59-11e6-8d83-ed1842e99d03.png)
what‘s it mean？

[2016-09-20 09:56] pierreca commented on #797
Hi @Jvaeyhcd

The maximum number of command messages (service -> device) that can be stored in a device queue  is 50. I suppose what happens is that you are queueing more messages than what your device can process so the queue fills up.

In order to avoid that, on the device side, you should acknowledge each message you receive as soon as possible by either completing, or rejecting it. This will r

[2016-09-20 09:59] Jvaeyhcd commented on #797
@pierreca Thank you very much,i will have a try.

[2016-09-20 11:52] yfakariya opened #832 "C SDK contains multiple latin-1 sources which causes compilation error"
I noticed that following files are saved as Latin-1 encoding, so it causes compilation error because of "treating warning as error" when the developer uses non Latin-1 code page console in Windows.
It is just messy when I build sources, but it is better and easy to save as UTF-8. Thanks!
- c/azure-uamqp-c/src/connection.c
- c/azure-uamqp-c/src/frame_codec.c
- c/azure-uamqp-c/src/saslclientio.c
- c

[2016-09-20 12:54] ChristianBeier commented on #798
Please ensure that the device explorer generated the right connection
string. Currently it generates capital X

On Sep 20, 2016 7:09 AM, "tameraw" <notifications@github.com> wrote:

[2016-09-20 12:55] ebeistle commented on #702
I believe this was corrected in part of an earlier change that moved the assignment of packetId to the get_next_packet_id() function.

[2016-09-20 12:55] #702 closed

[2016-09-20 14:12] sbuster commented on #815
I have successfully used the the sample above with a self signed certificate.  Are you properly generated your certificate?  I get similar error when I try with invalid certificate.

[2016-09-20 14:23] sbuster opened #833 "General SSL problem using Java device client with SSL"
I'm trying to run the samples.com.microsoft.azure.iothub.SendEvent example with a certificate and keep getting the error below.
Some general questions I have are what requirements are there for generating a cert?  key strength, algorithms...?

I used the example code in https://github.com/Azure/azure-iot-sdks/issues/815 to test everything works fine from C# and it does.  The issues seems to be whe

[2016-09-20 15:00] rockthethird opened #834 "Strong name validation failed. (Exception from HRESULT: 0x8013141A)"
**The following error occurs after a Rebuild Solution.  It disappears after a subsequent Build Solution.**

Severity	Code	Description	Project	File	Line	Suppression State
Error		Loading assembly "C:\Users\*******\.nuget\packages\Microsoft.Azure.Devices\1.0.15\lib\uap10.0\Microsoft.Azure.Devices.Uwp.dll" failed. System.IO.FileLoadException: Could not load file or assembly 'Microsoft.Azure.Devices.Uw

[2016-09-20 17:43] prmathur-microsoft commented on #803
Hi Kevin,

As per our email conversation, Can you try against latest develop which has changes related to memory leak fix in java and notify me back if you still see a leak.

Also as requested earlier, can you please provide me more details about the connection break in  > 4 hours.

Thanks
Priyanka

[2016-09-20 18:17] arturl commented on #834
Hi @rockthethird,

Thanks for the report. It looks like the UWP assembly is this package is not properly signed. We're working on a fix.

[2016-09-20 21:08] jasmineymlo commented on #834
Hi @rockthethird,
I have added the UWP assembly for proper signing in our build script.  It should be fixed in the next release packages.  Thanks.

[2016-09-20 21:08] #834 closed

[2016-09-20 21:18] tameraw commented on #491
@bcraun -
Unfortunately, this is currently not a priority in our backlog.
But if this is still a priority on your end, the Microsoft Customer Support team will try and help out on a best effort basis. To engage Microsoft support, you can create a support ticket directly from the [Azure Portal](https://ms.portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade).

[2016-09-20 21:18] #491 closed

[2016-09-20 21:19] tameraw commented on #534
@srini1978 -
Unfortunately, this is currently not a priority in our backlog.
But if this is still a priority on your end, the Microsoft Customer Support team will try and help out on a best effort basis. To engage Microsoft support, you can create a support ticket directly from the [Azure Portal](https://ms.portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade).

[2016-09-20 21:19] #534 closed

[2016-09-20 21:40] tameraw commented on #539
@pizerg - We're currently working on enhancing the retry logic and connection error reporting. Through that effort, you should be able to achieve the scenario you asked for.
A link to the GitHub project is here:
https://github.com/Azure/azure-iot-sdks/projects/2

[2016-09-20 21:40] #539 closed

[2016-09-20 21:41] tameraw commented on #522
Unfortunately, this is currently not a priority in our backlog.
But if this is still a priority on your end, the Microsoft Customer Support team will try and help out on a best effort basis. To engage Microsoft support, you can create a support ticket directly from the [Azure Portal](https://ms.portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade).

[2016-09-20 21:41] #522 closed

[2016-09-20 22:27] tameraw commented on #614
@dhillii - Unfortunately, this is currently not a priority in our backlog.
But if this is still a priority on your end, the Microsoft Customer Support team will try and help out on a best effort basis. To engage Microsoft support, you can create a support ticket directly from the [Azure Portal](https://ms.portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade).

Having said that, you

[2016-09-20 22:27] #614 closed

[2016-09-20 22:29] tameraw commented on #541
Unfortunately, this is currently not a priority in our backlog.
But if this is still a priority on your end, the Microsoft Customer Support team will try and help out on a best effort basis. To engage Microsoft support, you can create a support ticket directly from the [Azure Portal](https://ms.portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade).

[2016-09-20 22:29] #541 closed

[2016-09-20 22:30] tameraw commented on #514
Unfortunately, this is currently not a priority in our backlog.
But if this is still a priority on your end, the Microsoft Customer Support team will try and help out on a best effort basis. To engage Microsoft support, you can create a support ticket directly from the [Azure Portal](https://ms.portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade).
Also feel free to contribute your

[2016-09-20 22:30] #514 closed

[2016-09-21 03:53] anhashia commented on #814
I was able to send and receive using **MQTT** protocol. I set `IotHubClientProtocol protocol = IotHubClientProtocol.MQTT` in the sample.

Library I used was  `iothub-java-device-client:1.0.9`.  I tested it both on actual Android **device** and Android Emulator.

[2016-09-21 07:27] IngoMaindorfer commented on #804
@tameraw - Nice info about the "Retry policy". Can you estimate roughly when that feature will be available?

[2016-09-21 09:55] lmussier commented on #741
Hi there, I just wonder if you have a date to communicate for "official" DM availability.
We've made a work around to support missing objects, and we look forward to integrate the DM support from the SDK.

[2016-09-21 10:02] lmussier opened #837 "[C][Linux] Install target does not install iothubtransportamqp.h"
Hi,

During SDK installation from CMake it seems that iothubtransportamqp.h from azure-iot-sdks/c/iothub_client/inc/ is not copied in <prefix>/include/azureiot/

I've patch the SDK to copy this file with others but I wonder if this file is not installed because it is not part of the install or if it is just a bug.

[2016-09-21 14:41] guybartal opened #838 "don't receive c2d message feedback"
hi,

i've followed this article:
[https://azure.microsoft.com/en-us/documentation/articles/iot-hub-node-node-c2d/](https://azure.microsoft.com/en-us/documentation/articles/iot-hub-node-node-c2d/)

and i don't receive c2d message feedback.

here's my code:

[code]

[2016-09-21 14:48] lmussier commented on #646
@tameraw In a way, yes it is blocking. We are not able to support request response pattern directly with the client library. Some one who use the convenience API (like we do) will have to create a dedicated thread and manage a message queue to send responses to incoming messages.

The simple use case, send a message to the device, and respond to this message becomes a complicated stuff for somethi

[2016-09-21 15:57] damonbarry commented on #741
@lmussier Not yet, but stay tuned. We'll have more information in the coming weeks

[2016-09-21 18:49] pierreca commented on #838
Hi @guybartal

at first glance the code looks correct. Do you see the message coming in on the simulated device? is there any error when calling complete() and passing it the message?
Can you paste the command line log on both the device and the service application side?

[2016-09-21 20:55] jtanner-msft commented on #777
Hi @AlexandreMarechalSE, can you also confirm that you see the same behavior with the latest development branch as well?

[2016-09-22 06:49] tameraw commented on #656
We're currently working on enhancing the retry logic and connection status reporting. Through that effort, you might be able to achieve the scenarios you're looking for.
A link to the GitHub project is here:
https://github.com/Azure/azure-iot-sdks/projects/2

[2016-09-22 06:49] #656 closed

[2016-09-22 07:00] tameraw commented on #727
@damienpontifex - Thanks for filing this. Closing as duplicate of #560
 which we're hoping to provide in the near future.

[2016-09-22 07:00] #727 closed

[2016-09-22 07:02] tameraw commented on #645
We're currently working on enhancing the retry logic and connection error reporting. This should provide you with error indicating a maximum quota has been reached.
A link to the GitHub project is here:
https://github.com/Azure/azure-iot-sdks/projects/2

[2016-09-22 07:02] #645 closed

[2016-09-22 07:03] tameraw commented on #717
@zerox1212 - We're currently working on enhancing the retry logic and connection error reporting. Once completed, you should be able to get notified via an error indicating when you have reached the maximum quote for sending messages to the IoTHub.
A link to the GitHub project is here:
https://github.com/Azure/azure-iot-sdks/projects/2

[2016-09-22 07:03] #717 closed

[2016-09-22 07:04] tameraw commented on #745
Unfortunately, this is currently not a priority in our backlog.
But if this is still a priority on your end, the Microsoft Customer Support team will try and help out on a best effort basis. To engage Microsoft support, you can create a support ticket directly from the [Azure Portal](https://ms.portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade).

[2016-09-22 07:04] #745 closed

[2016-09-22 07:07] tameraw commented on #673
@Praburaj - Let us know if you have any other issues.
Regards.

[2016-09-22 07:07] #673 closed

[2016-09-22 07:12] tameraw commented on #633
@PanzerHabba - Please check against the latest in develop (soon to be release to master).
We know look for customer properties on the message.properties property which should hopefully serve your scenario.
If still blocked, please feel free to file new issue. Thanks.

[2016-09-22 07:12] #633 closed

[2016-09-22 07:17] tameraw commented on #704
A link to the GitHub project is here:
https://github.com/Azure/azure-iot-sdks/projects/2

[2016-09-22 07:17] #704 closed

[2016-09-22 07:18] tameraw commented on #672
Unfortunately, this is currently not a priority in our backlog.
But if this is still a priority on your end, the Microsoft Customer Support team will try and help out on a best effort basis. To engage Microsoft support, you can create a support ticket directly from the [Azure Portal](https://ms.portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade).

[2016-09-22 07:18] #672 closed

[2016-09-22 07:20] tameraw commented on #770
Unfortunately, this is currently not a priority in our backlog.
But if this is still a priority on your end, the Microsoft Customer Support team will try and help out on a best effort basis. To engage Microsoft support, you can create a support ticket directly from the [Azure Portal](https://ms.portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade).

[2016-09-22 07:20] #770 closed

[2016-09-22 07:27] tameraw commented on #489
@nicolehaugen79 - @markmnl.
We'll look into indicating the requirements in the nuget package information as mentioned in the original post.

[2016-09-22 07:34] tameraw commented on #549
@pizerg - Addressing the original post.
We're currently working on enhancing the retry logic and connection error reporting. Through that effort, you should be able to achieve the scenario you asked for.
A link to the GitHub project is here:
https://github.com/Azure/azure-iot-sdks/projects/2

[2016-09-22 07:34] #549 closed

[2016-09-22 07:45] tameraw commented on #804
@IngoMaindorfer - Work has started on this. Expect to start seeing some of these feature updates rolling into the SDK in the releases next month.
A link to the GitHub project is here:
https://github.com/Azure/azure-iot-sdks/projects/2

[2016-09-22 07:45] #804 closed

[2016-09-22 07:53] tameraw commented on #837
@lmussier - Looking at this. Thanks reporting it.

[2016-09-22 07:55] tameraw commented on #833
@sbuster - Thanks for reporting this. We'll investigate the issue.

[2016-09-22 08:08] tameraw commented on #786
@damienpontifex - If you care to contribute this, we'd happily review the PR. Thanks.

[2016-09-22 08:11] tameraw commented on #773
This is currently not a priority in our backlog.
But if it becomes a priority on your end, the Microsoft Customer Support team will try and help out on a best effort basis. To engage Microsoft support, you can create a support ticket directly from the [Azure Portal](https://ms.portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade).
Thanks.

[2016-09-22 08:11] #773 closed

[2016-09-22 13:57] lmussier commented on #837
Here is working patch

---
 c/iothub_client/CMakeLists.txt | 1 +
 1 file changed, 1 insertion(+)

diff --git a/c/iothub_client/CMakeLists.txt b/c/iothub_client/CMakeLists.txt
index 5f53b8b..83b216a 100644
--- a/c/iothub_client/CMakeLists.txt
+++ b/c/iothub_client/CMakeLists.txt
@@ -32,6 +32,7 @@ set(iothub_client_ll_transport_h_files
 ./inc/iothub_client_version.h
 ./inc/iothub_transport_ll.h
 ./i

[2016-09-22 16:50] chrit-msft commented on #665
@lmussier & @QiMata There was a fix checked into the develop branch for this issue.

[2016-09-22 16:50] #665 closed

[2016-09-22 17:39] pierreca commented on #838
@guybartal
We got a repro by using an older version of NPM and nested dependency trees. I've pushed a fix and it will make it to the next release (in the next couple of days).

You can temporarily circumvent this problem by updating to npm v3 and cleaning your node_modules folder, then run npm install again.

Thanks for filing this issue!

[2016-09-22 22:43] jtanner-msft commented on #794
Hi @alfintatorkace ,
Since you have opened the new issue where Tamer suggested, I'll proceed with closing this current issue now.  Let's continue our discussion / investigation in this issue:
https://github.com/Azure/azure-uamqp-c/issues/21

Thanks,

[2016-09-22 22:43] #794 closed

[2016-09-22 23:43] twgcriot commented on #830
Thanks Tamer.

Can you explain how does the retry logic work? For instance, how long does the SDK take to detect that network has been restored?

For MQTT,
https://github.com/Azure/azure-iot-sdks/blob/master/c/iothub_client/src/iothubtransportmqtt.c

#define DEFAULT_MQTT_KEEPALIVE      4*60 // 4 min
#define RESEND_TIMEOUT_VALUE_MIN    1*60
#define DEFAULT_CONNECTION_INTERVAL 30

What would be impl

[2016-09-23 00:01] anhashia commented on #748
Hi @lmussier
I updated to **latest develop** branch and then I tried following 2 tests by increasing `MESSAGE_COUNT ` in `iothub_client_sample_amqp_websockets`  sample for test purposes.

1.) Start client (Ubuntu machine) in **disconnected** state. Run `iothub_client_sample_amqp_websockets sample.`  Send will fail as expected with message "`AMQP transport failed to establish connection with servic

[2016-09-23 00:36] anhashia commented on #489
Investigating !

[2016-09-23 02:29] markmnl commented on #489
@tameraw @anhashia I don't think extra documentation will help developers looking at the error: "Not implemented in reference assembly"..

[2016-09-23 02:32] tameraw commented on #821
@robichaud - Thanks for reporting this. We're looking at it.

[2016-09-23 06:24] rajvael commented on #826
@tameraw
Please update me if you have any idea why it is happening?

[2016-09-23 07:45] lmussier commented on #748
@anhashia I'm ok with 1.) and certainly with 2.) (I don't check device state)
but you are missing 3.)

3.)Is 2.) with with a reconnection.
In connected state send messages, wait for confirmations. Disconnect the client (in linux we eth0 down, on device we pull the cable), wait some time (at least 4/5 messages sending) and reconnect the device.

The reconnection take ages (at least last time I've c

[2016-09-23 14:20] lruchandani opened #840 "CorrelationId is not set in FeedbackRecord (Java Service SDK)"
CorrelationId is not set in the FeedbackRecord , refer FeedbackBatchMessage class. Probably , it should be set to originalMessageId as its done in C# SDK
[https://github.com/Azure/azure-iot-sdks/blob/e06ad8be39e4c3bb0abe3e6ebaeed7e3bdb4edd2/java/service/iothub-service-sdk/src/main/java/com/microsoft/azure/iot/service/sdk/FeedbackBatchMessage.java](url)

[2016-09-23 14:57] AlexandreMarechalSE commented on #734
Yes I can still see the issue if I don't apply the patch on saslclientio.c:

[code]

[2016-09-23 14:59] AlexandreMarechalSE commented on #735
Perfect, thank you.
PR created: https://github.com/Azure/azure-c-shared-utility/pull/33

[2016-09-23 18:16] anhashia commented on #752
Investigating !

[2016-09-23 19:23] jtanner-msft commented on #698
Hi @cnvery,

  As we haven't seen a response to Mark's question in a few weeks now I'm going to close this issue.  If you do still require assistance please feel free to re-open the issue and provide the answer on if Eclipse was running on the Edison device, or a desktop system.  If it was a desktop, what OS were you running on?
Thanks,

[2016-09-23 19:23] #698 closed

[2016-09-23 19:48] anhashia commented on #653
Current ETA for this is end of October.

[2016-09-23 20:17] jtanner-msft commented on #560
We're looking again into adding the prebuilt .PYD and .SO as installable packages for Windows and Linux platforms.  Once I have a further update on where we stand I will let you know.

[2016-09-23 22:52] tameraw commented on #840
@lruchandani - You're correct. We'll look at this one.

[2016-09-24 01:08] jtanner-msft commented on #604
Hi @jtjk , @edyrli,

  I wanted to let you know that I’ve begun to investigate the behavior that you reported.  Given that it’s been a while, can you please confirm if you are still seeing this behavior on the latest develop branch?

Thanks,

[2016-09-24 01:44] anhashia commented on #748
Investigating scenario 3 described above.

[2016-09-24 12:03] rishikeshayre1310 opened #841 "build failed"
hello i am using raspberry pi 3 running on rasbian jessie swap size = 2048
i cloned the the sdk and did sudo ./setup.sh
then sudo ./build.sh   i got following errors
Scanning dependencies of target iothub_messaging_ll_ut_exe
[ 65%] Building C object iothub_service_client/tests/iothub_msging_ll_ut/CMakeFiles/iothub_messaging_ll_ut_exe.dir/iothub_messaging_ll_ut.c.o
virtual memory exhausted: Cannot

[2016-09-26 06:50] zetanet opened #842 "System.NullReferenceException using Microsoft.Azure.Devices.Client 1.0.19 / 1.0.20"
Hello ,

I'm developing an application that runs on backgroud UWP Rasp Pi2 (Windows 10 IoT Core 10.0.14393.187) .This uses the Azure client libraries to implement messaging and D2C C2D with Azure IoT Hub

After you update the client libraries to the latest versions available with NuGet the application crash after a few minutes when connected to IoT Hub.

Exception thrown: 'System.NullReferenceExce

[2016-09-26 18:01] mregen commented on #560
Hello early adopters. For windows there is a Python wheel available for testing. All Python windows flavors should work.  Please report all issues you may find.

[2016-09-26 19:03] dick opened #844 "Node.js client connect errors - "Not authorized""
I am dealing with an unreliable network connection and seem to be getting frequent "Not authorized" errors thrown from MQTT on client.open().

No issues with my connection strings, as everything goes through normally if the connection is OK on bootup (e.g. I restart Raspberry Pi with modem already booted up).

Issues:

- Sporadic "not authorized" errors on connection. I can't totally predict when

[2016-09-26 19:05] dick commented on #844
Example error log:

Error opening IotHubClient! Error: Connection refused: Not authorized
   at MqttClient.prototype._handleConnack (C:\Data\Users\DefaultAccount\AppData\Local\Packages\petropi5_k2qva3ds8n4c6\LocalState\node_modules\mqtt\lib\client.js:720:5)
   at MqttClient.prototype._handlePacket (C:\Data\Users\DefaultAccount\AppData\Local\Packages\petropi5_k2qva3ds8n4c6\LocalState\node_modules\m

[2016-09-26 21:01] arturl commented on #842
Thanks @zetanet, @tameraw, I'm taking a look.

[2016-09-26 21:14] jtanner-msft commented on #844
Hi @dick,

  What OS are you running on the Raspberry Pi?  Based upon the error log I would guess Windows 10 IoT Core, but wanted to double check.  If that is the case, what build are you using?
  Also, is it only MQTT that you see the problem with, or do you observe the same behavior if you use HTTPS or AMQP instead?

Thanks,
~Jonathan

[2016-09-26 21:23] jtanner-msft commented on #841
Hi  @rishikeshayre1310,

  You are likely hitting a known issue that we are in the process of trying to get checked in.  To fix it yourself you’ll need to modify this line:
https://github.com/Azure/azure-iot-sdks/blob/master/c/build_all/linux/build.sh#L132

  Please change MINVSPACE="1000000" to MINVSPACE="1500000" and it should work.

  If for some reason that still fails, then you can always mod

[2016-09-26 21:31] dick commented on #844
Hi @jtanner-msft,

I'm running Windows 10 IoT Core 10.0.14915.1000. I'm having trouble with all of the protocols. I tried AMQP and HTTPS yesterday with no luck. AMQP throws a similar "unauthorized" error, and HTTPS doesn't get messages through to the hub, but I don't know what specific error it's throwing.

Thanks!
Dick

[2016-09-26 21:42] dick commented on #844
* I'm running Windows 10 IoT Core 10.0.14915.1000 on a Raspberry Pi 2.

[2016-09-26 22:02] jtanner-msft commented on #844
Hi @dick,

Thank you for providing that information.  It sounds like you’re using the most recent insider preview release of IoT Core.  As a test have you tried running with a C# client on the device?  Does it also have the same errors, or are they specific to Node.js?

Thanks,
~Jonathan

[2016-09-26 23:48] anhashia commented on #833
Hi @sbuster
The command line option in **send-event** Java sample is for validating Root CA sent by the Server as part of TLS handshake. It is for **1-way** SSL authentication . It is not for specifying **client side certificate** (2-way SSL authentication).

You need to specify this option in case you don't have server side Root CA in your certificate store and you want to point to a certificate

[2016-09-27 01:06] anhashia commented on #748
Hi @lmussier
These are repro steps that I tried for **scenario 3**. Let me know if these look correct.
Changes made in **iothub_client_sample_amqp_websockets.c** sample
- Set `MESSAGE_COUNT 100 `and between each send add sleep of `3 seconds`.

**Repro steps**
1.) Start the sample with above modified changes
2.) Wait for **30 seconds**. You will see around 10 successful send attempts with `IOTHUB_C

[2016-09-27 03:41] dick commented on #844
@jtanner-msft I have almost no experience with C#. Is there a good example you can point me to? I can get a console app running locally to connect to the IoT Hub just fine, but I haven't found an example of a UWP app that also connects to IoT Hub...

[2016-09-27 03:59] dick commented on #844
I tried this app with no luck. Messages were written to debug console but never showed up when monitoring in Device Explorer. I didn't see any errors thrown either, though.

`using System;
using System.Collections.Generic;
using System.IO;
using System.Linq;
using System.Runtime.InteropServices.WindowsRuntime;
using Windows.ApplicationModel;
using Windows.ApplicationModel.Activation;
using Windows

[2016-09-27 06:18] rishikeshayre1310 commented on #841
hi @jtanner-msft
I did the two changes as you mentioned above but still I am getting the same error .

[2016-09-27 08:29] varwnosg commented on #805
Hi dcristoloveanu,

Yes, the submodules update was the issue. Thank you for your help.

[2016-09-27 12:21] lmussier commented on #748
@anhashia I'll retry thi son my side, but sounds good so far :+1:

[2016-09-27 17:27] jtanner-msft commented on #841
Hi @rishikeshayre1310,

  Please continue using the above commands and also include this command line switch:
./build.sh --skip-unittests

  Thanks,

~Jonathan

[2016-09-27 17:31] jtanner-msft commented on #844
Hi @dick,

  There is a UWP C# sample that you can use for testing.  It's located here:
https://github.com/Azure/azure-iot-sdks/tree/master/csharp/device/samples/UWPSample

  The other thing I'll mention is that I've occasionally copied a different connection string than I expected from Device Explorer.  Please make certain that the device name you want for the string is selected before right clic

[2016-09-27 17:58] dick commented on #844
Hi @jtanner-msft,

I've been doing a lot more testing today. I was able to connect several times successfully using MQTT and my Node.js scripts that I originally posted, but I am getting intermittent "not authorized errors." I don't think that my device connection string is incorrect because it is working some of the time. I also tried using a Shared Access Signature generated by Device Explorer w

[2016-09-27 18:37] tameraw commented on #830
@twgcriot
"Can you explain how does the retry logic work? For instance, how long does the SDK take to detect that network has been restored?"
Once the message timeout expires, the SDK will resend and will keep doing this forever, unless a connection loss is detected. A connection loss can be detected by the SDK when the ACK to the Keep Alive pings that the SDK send is not received.

Responding to

[2016-09-27 18:51] tameraw commented on #821
Closing as PR has been addressed.

[2016-09-27 18:51] #821 closed

[2016-09-27 19:39] tameraw commented on #751
@damienpontifex - Please see feedback in the PR #823.

[2016-09-27 19:48] tameraw commented on #840
PR #768 should address this issue.

[2016-09-27 19:56] chrit-msft commented on #699
@lmussier A fix for this has been checked in to the develop branch.  I will be closing this GitHub thread.  If you see this behavior return please reach out immediately.

[2016-09-27 19:56] #699 closed

[2016-09-27 20:11] jtanner-msft commented on #844
Hi @dick,

  I generally create a unique device name for each protocol I'm testing.  So Rpi2MQTT, Rpi2AMQP, etc. for example.  That way only that specific device / protocol should be getting used with a specific sample.  Some of the protocols have longer session timeouts, so it is possible you could confuse the hub if you have two different samples using the same connection string in too short of

[2016-09-27 21:43] dick commented on #844
Hi @jtanner-msft,

After further testing, it seems that I am triggering some sort of IoT Hub-wide lockout for my device (possibly based on IP address??). I added registry code to generate a unique Device Id each time I run the code and immediately got an "Unauthorized" error just trying to call registry.create(). I spun up a new IoT Hub and the same code worked fine -- it generated a unique time-s

[2016-09-27 21:56] KunalSaini opened #845 "nodejs - correlationId not set"
Hi,
I am not receiving any correlationId or messageId on feedback message in my cloud to device scenario.
following is the message cloud app is sending to Azure IOT. ( App is setting the message Id as well as correlationId.
[code]
following is the message recieved on cloud app on feedback event handler (device has completed the action successfully)
[code]

I am using the following version of packa

[2016-09-27 22:32] pierreca commented on #845
Hi @KunalSaini
can you  paste how you create the message on the device side? We've had issues with the way we package the message before we send it in some cases, I wonder if it might be related.
What happens is that the SDK is trying to be too smart, and if the object passed to send() is not an instance of `Message`, it bundles it into a `Message`. so you end up with your own object the payload o

[2016-09-27 22:50] rajeevmv commented on #844
Have you considered using [operational monitoring](https://azure.microsoft.com/en-us/documentation/articles/iot-hub-operations-monitoring/) to figure out what is going on?

[2016-09-28 01:27] dick commented on #844
@rajeevmv I have, but unfortunately operational monitoring is not any more helpful in terms of an error message. Once IoT Hub has decided it doesn't like my device, operational monitoring streams 401 "Unauthorized" events even in verbose mode. My example output is below:

I20160927-20:25:37.804(-5)? Event received:
I20160927-20:25:37.806(-5)? { time: '2016-09-28T01:25:31.9980577Z',
I20160927-20:25

[2016-09-28 01:48] rajeevmv commented on #844
Do you see anything under the "Connections" category?

[2016-09-28 02:07] dick commented on #844
I don't, but my code is now set up to register a device name first, then try to initiate a connection. It's failing at the registration step and never trying to connect now. If I recall correctly, I followed the ops monitoring log for the same issue last week and received an HTTP 500 "Internal Server Error" on a failed connection, and there was no helpful additional info. I'll see if I can induce

[2016-09-28 04:32] navilwayne commented on #815
Hi Rajeev/Folks
- I tried the sample given on azure documentation 'Register an X.509 client certificate for a device', I am also facing the issue while sending the data to IOT HUB.
https://azure.microsoft.com/en-in/documentation/articles/iot-hub-sas-tokens/#register-an-x509-client-certificate-for-a-device

- Azure sdk version > 1.0.20 (stable)

- One thing I saw when you register a device using th

[2016-09-28 05:25] tkysmz opened #847 "[Java] Does SDK reconnect when disconnected ?"
Hi.

I have a question about Java IoT SDK.
Does it "reconnection" in SDK, when disconnected from IoTHub ?

i.e. Should we implement reconnection application code ?

Thanks.

[2016-09-28 05:26] rishikeshayre1310 commented on #841
Hi @jtanner-msft
as you said i did ./build.sh --skip-unittests and it showed no error but then i went to run my the python sample "iothub_client_sample.py" and i got the following errors

pi@raspberrypi:~/azure-iot-sdks/python/device/samples $ sudo python iothub_client_sample.py
Python 2.7.9 (default, Sep 17 2016, 20:26:04)
[GCC 4.9.2]
IoT Hub for Python SDK Version: 1.0.15
Starting the IoT Hub Py

[2016-09-28 07:15] rishikeshayre1310 commented on #841
hi @jtanner-msft
as you said i did ./build --skip-unittests and i got no errors in the build. but when i run the python sample code "iothub_client_sample/py" i am getthing following errors

IoTHubClient.send_event_async accepted message [3] for transmission to IoT Hub.
IoTHubClient.send_event_async accepted message [4] for transmission to IoT Hub.
IoTHubClient waiting for commands, press Ctrl-C to

[2016-09-28 07:47] markbdev commented on #828
Seeing the same error code using nuget package Microsoft.Azure.Devices v1.0.15 and v1.1.0-preview-003, when registering a device from within a service fabric service.

[2016-09-28 09:08] markbdev commented on #828
We have now resolved this. The problem occurred due to mixed versions of the package across different projects and solutions.

[2016-09-28 14:52] bmrpatel opened #848 "nodejs connection resiliency"
I am writing a device code using **Node v1.0.15**, which needs to be connected all the time and if disconnected, needs to be reconnected.

Here are some of the questions regarding this issue:
- [readme](https://github.com/Azure/azure-iot-sdks/tree/master/node/device/transport/amqp) doc is using `clientFromConnectionString` whereas in this [devdoc](https://github.com/Azure/azure-iot-sdks/blob/maste

[2016-09-28 15:32] rajeevmv commented on #844
Can you give us the name of your hub?

[2016-09-28 17:13] levalencia opened #849 "universal windows app unhandled exception of type 'System.ExecutionEngineException'"
I have the following code which reads a temperature from a sensor on a raspberry pi.

The code is asynchronous, and if I remove ONLY the last line of the code, the one that sends the message, I never get the exception. I meant this line:

    await deviceClient.SendEventAsync(message);

     private async void InitializeSensors()
            {
                string calibrationData;

[2016-09-28 17:13] levalencia commented on #849
The thing is that this code worked for several days, and suddenlty stopped working

[2016-09-28 17:18] rajeevmv commented on #815
@navilwayne,

Are you using the C# SDK ? How are you creating the DeviceClient?
You can retrieve the configured thumbprint of a device from the IotHub using the RegistryManager:
   _await registryManager.GetDeviceAsync(device.Id);_

[2016-09-28 18:16] tameraw commented on #847
@tkysmz - Yes. The Java SDK has existing logic to reconnect to the IoTHub.

[2016-09-28 19:03] anhashia commented on #849
Investigating !

[2016-09-28 19:17] levalencia commented on #849
I appreciate the effort, we are almost in the go live phase 👍

[2016-09-28 19:18] pierreca commented on #848
The documents in `devdoc` are requirements documents that describe the internal APIs, it's useful for us and our CI builds, not as much for tutorials.

The preferred way of using the `Client` object is described in the following file:
https://github.com/Azure/azure-iot-sdks/blob/master/node/device/samples/simple_sample_device.js

[2016-09-28 20:41] KunalSaini commented on #845
following is the relevant piece of code on device
[code]
following is how I am creating message on cloud side and listening for feedback
[code]

I also tried
[code]
however still no message id or correlation id on feedback

[2016-09-28 22:15] anhashia commented on #849
Hi @levalencia
I just tried `csharp\device\samples\UWPSample` on **Raspberry Pi2**  Windows IoT Core **10.0.14393** and I **don't** see any issue in sending and receiving messages.

Try this **sample** on your device and see if you see any issues with running of this sample. This sample also uses `deviceClient.SendEventAsync `to send messages to Azure IoT Hub. Check \csharp\device\samples\UWPSampl

[2016-09-29 00:05] jtanner-msft commented on #841
Hi @rishikeshayre1310,

 Based upon the output that you have provided it looks like you are no longer facing a build issue, but are now seeing an issue when running one of the Python samples.  The error seems to happen after it sends its five messages and then goes into the ‘waiting’ state to see if there are any messages sent from the Cloud to the Device.

  Since that sounds like a new problem I

[2016-09-29 00:26] levalencia commented on #849
fixed, it was a typo on the connection string our fault!

[2016-09-29 02:04] tkysmz commented on #847
@tameraw Thank you for Answer quickly.
Could you tell the place of reconnection logic on code? I want to know details.

Thanks.

[2016-09-29 03:44] djcasey commented on #477
Any advance on this?

[2016-09-29 06:30] navilwayne commented on #815
- Yes , I am using the C# SDK- Version - 1.0.20 (downloaded from Nuget)
- I am using the Device client as -
 **deviceClient = DeviceClient.Create(iotHubUri, new DeviceAuthenticationWithX509Certificate("deviceID",x509Certificate));**

An exception of type 'Microsoft.Azure.Devices.Client.Exceptions.UnauthorizedException' occurred in mscorlib.dll but was not handled in user code
Inner EXCEPTION
{"\r\

[2016-09-29 07:14] rolandkru commented on #748
Thank you for investigating this issue. This is a real stopper in several of our projects.
However, we could not notice any improvement in the described behavior so far. Could you point to the commit where this issue should have been fixed?

[2016-09-29 08:34] enuysa-msft commented on #837
Hi @lmussier

it is little unclear on exactly when or what the SDK install scenario you are encountered this issue with happens. Can you explain?

[2016-09-29 09:47] lmussier commented on #837
Hi @enuysa-msft,

Here is the path :

[code]
Here are install logs
[code]

We don't see iothubtransportamqp.h (iothubtransportmqtt.h is also missing here and maybe others). And if we want to use websockets we have to include iothubtransportamqp_websockets.h (see iothub_client_sample_amqp_websockets.c) wich include iothubtransportamqp.h.

Is it clear enough ?

[2016-09-29 11:17] enuysa-msft commented on #837
Hi @lmussier

I am testing it now and I will inform you very soon.

Regards

Enes

[2016-09-29 12:57] lmussier commented on #837
You are welcome :)

[2016-09-29 13:39] bmrpatel commented on #848
Thanks for pointing to the sample. I modified the app to use `Client`

However, I get the following error, while program is running perfectly fine. Here is the sequence, `disconnect` event is called then I try to reconnect by using the following code.

[code]
Above code tries to reconnect and gets the error
`AMQP Transport: Could not connect`

[2016-09-29 17:37] rajeevmv commented on #815
@navilwayne,

For the above tracking id ( b8b1ae2200214d098547579a3d94466f-G:3), the error I see in the service indicates that a device with an Id of "device_X.509" tried to connect. However, no device with such an Id is registered with the IotHub "demoIOTHubDevicemanager".

FYI - you can also use [operational monitoring](https://azure.microsoft.com/en-us/documentation/articles/iot-hub-operations-

[2016-09-29 17:38] arturl commented on #477
Hi @vslepakov,
We've added AMQP support for Android -- it will show up in the next release.
Every platform in PCL has to have a different implementation, which is why it will yet be immediately available everywhere.

[2016-09-29 19:06] anhashia commented on #849
okay ! Thanks for the update.

[2016-09-29 20:05] jtanner-msft commented on #844
@dick,
  One other thought was that depending upon how your 4G modem operates, maybe it's switching you from using IPv4 to IPv6 addresses?
  Can you capture a small netmon or wireshark capture of your devices when they are trying to connect and getting rejected to see if IPv4 or 6 is being used?

[2016-09-29 20:11] anhashia commented on #748
Hi @rolandkru
I started the test itself with latest **develop** branch few days back. Which IoT Hub client **sample** are you using for testing of scenario 3 ? What OS is running on your device ? Does your repro steps match above repro steps or do you have any variation in your repro steps? If you have some variation in your repro steps, can you please provide those.

[2016-09-30 00:05] anhashia commented on #489
Looking into the issue

[2016-09-30 00:57] anhashia commented on #752
Looking into the issue.

[2016-09-30 01:06] djcasey commented on #477
Hi @arturl,
When is the next release expected?

[2016-09-30 06:21] BlueBasher commented on #847
@tkysmz I believe it depends on what protocol you are using. But if you're using AMQP you can find it here: https://github.com/Azure/azure-iot-sdks/blob/master/java/device/iothub-java-client/src/main/java/com/microsoft/azure/iothub/transport/amqps/AmqpsIotHubConnection.java#L600

[2016-09-30 06:34] galingeorgiev commented on #827
Yes, thank you!

[2016-09-30 06:50] rishikeshayre1310 commented on #841
hello @jtanner-msft
i am getting errors in all the 3 protocols .

[2016-09-30 08:52] enuysa-msft commented on #837
Hi @lmussier,

Indeed you are right, iothubtransportamqp.h/.c should be in the cmake such they can be installed correctly.
I have informed the  production team to correct it. Until that time you can continue to use your patch to copy this file with others.

Regards
Enes

[2016-09-30 10:08] navilwayne commented on #815
Thanks Rajeev

[2016-09-30 12:24] rolandkru commented on #748
@anhashia Thank you for your response.

We've repeated our tests with the latest *develop* branch of today morning.
If we do the test according to your instructions ("wait for 30seconds") everything works as expected.
But if we do it in the same way as @lmussier ("Wait few minutes") we're getting confirmation errors as soon as the socket is closed (after around 15 minutes, checked with `netstat`):

[2016-09-30 17:23] sputnick opened #850 "Done is not a function - Needs improved error reporting for newbies"
I was testing the nodejs library using some sample code from Azure documentation and ran into an issue with running a simulated device. Everything was correct with my connection string and the code looked the same as the snippets in the article but I kept getting an error from inside the "azure-iot-device" library. "Done is not a function". After trying all sorts of different connectionstrings (I

[2016-09-30 17:28] anhashia commented on #748
Hi @rolandkru
Thanks for the update ! I will investigate this further based on your repro steps.

[2016-09-30 17:36] arturl commented on #477
Hi @djcasey, new releases come out every couple of weeks, so I expect this to come out very soon. I'll contact the dev team and make sure they include the updated AMQP library in the next release (that's the component that has the fix).

Also note that the PCL NuGet package is no longer needed, the "regular" Azure.Devices.Client NuGet package now supports PCL.

[2016-09-30 18:04] tameraw commented on #826
@rajvael - Have you tried this against the latest in develop?

[2016-09-30 18:06] tameraw commented on #734
@AlexandreMarechalSE - We're investigating this.

[2016-09-30 22:29] anhashia commented on #814
Closing this. Please re-activate if you have any further questions on this. Thanks !

[2016-09-30 22:59] anhashia commented on #647
Closing. Please re-activate if you have any further questions on this. Thanks !

[2016-09-30 22:59] #647 closed

[2016-09-30 23:59] tameraw commented on #815
@navilwayne - Currently the C# SDK does not support file upload with X509. It is high in our backlog to provide that.

[2016-10-01 05:58] murdockcrc opened #851 "Could not load assembly 'Validation, Version=2.2.0.0'"
I am trying to run some integration test on visual studio that test sending data to IoT Hub. When trying to send data using the `DeviceClient.SendEventAsync()` method, the application crashes with the following exception:

[code]

I have also noticed the following in the `app.config` file:
[code]

I am using version 10.0.20 of the C# SDK
My project is targeting .NET 4.5.1
The Validation package in

[2016-10-02 21:21] bmrpatel opened #852 "nodejs AMQP sendEvent is not failing when connection is not available"
I am writing a device code using Node v1.0.15.

I want to implement a retry logic on sendEvent failure. However when I am calling sendEvent after disconnecting the computer from internet, it does not call _**callback**_. _I am disconnecting the cable after it successfully opens the connection_

[code]

[2016-10-03 05:48] danstoian opened #853 "Support for net45 framework"
Hei,

Can you please compile the Microsoft.Azure.Devices package for net45?
Our project targets net45 (and we cannot change it).

Microsoft.Azure.Amqp requires net451 and I've submitted a pull-request to change the target framework from net451 to net45
(https://github.com/Azure/azure-amqp/issues/39)

Thanks,
Dan

[2016-10-03 10:02] mgiuncato opened #854 "[C][DM] IOTdm_edison_sample connection failure (always since some days)"
on branch DMPREVIEW.
since some hours(?) / days (?) the client sample iotdm_edison_sample connection to iothub fails with following message :

I notice that the connection on netstat remain in "SYNC" for 3 minutes and after disappear.
the program /service remain loaded and does not close.

any news ? does the preview ends ?

any suggestion is appreciate.

Marco

[2016-10-03 13:36] zetanet commented on #842
Hello ,
I checked the verbose log of MSBUILD compiling and noticed some warning .. these may be the cause of error? ...

There was a conflict between "Windows.Foundation.FoundationContract, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" and "Windows.Foundation.FoundationContract, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null".
      "Windows.Foundation.FoundationContract, Version=2

[2016-10-03 13:56] zetanet commented on #842
Full compilation log..

[Conflict.txt](https://github.com/Azure/azure-iot-sdks/files/506370/Conflict.txt)

[2016-10-03 14:17] mgiuncato commented on #741
Hi Damon,

we are working hard to go in production with our products based on Azure IOTHUB.
but  in the last days, we start having problem with DM both with client and ( https://github.com/Azure/azure-iot-sdks/issues/854 ) your words sounds like a charm :-D
could you supply us some "rumors" ;-)  about DM official release date ?
or "spoiling" some other new...
appreciate this so much !!!
Marco
('ca

[2016-10-03 14:22] sergaz-msft commented on #851
Hi @murdockcrc I will have a look at this. Can you be more specific on the Validation package you are using (nuget link) and if you are following any specific sample? I want to reproduce your issue on my side as a first step. Thanks!

[2016-10-03 16:09] rajeevmv commented on #851
Everything appears to be correct. The version 1.0.20 works for me with the package "Validation - 2.2.8".
Can you verify that the location reference for the "Validation" package in your project file matches its actual location? The project file should have an entry like this:

    "<Reference Include="Validation, Version=2.2.0.0, Culture=neutral, PublicKeyToken=2fc06f0d701809a7, processorArchitectu

[2016-10-03 16:40] murdockcrc opened #855 "ITransportSettings.DefaultReceiveTimeout not present in documentation"
Hi,

I see that the interface `ITransportSettings` defines the property `DefaultReceiveTimeout `:

[code]

However, in the [MSDN documentation](https://msdn.microsoft.com/en-us/library/microsoft.azure.devices.client.itransportsettings.aspx), this property does not exist in the interface's definition.

Just wanted to file this inconsistency and check if I got the versioning wrong in the documentati

[2016-10-03 16:53] tameraw commented on #853
@danstoian - Thanks for filing this. We'll look into adding support for .net 4.5 as well.

[2016-10-03 17:09] olivierbloch commented on #854
Hi @mgiuncato
We just released a new preview for device management and changes are consequent enough that we moved the SDKs code to their own [preview repo](https://github.com/Azure/azure-iot-sdks-preview)

You can find documentation on the new public preview here:
[Understand Device Twins](https://azure.microsoft.com/en-us/documentation/articles/iot-hub-devguide-device-twins/)
[How to use the dev

[2016-10-03 17:19] mtuchkov commented on #855
@murdockcrc Thank you for reporting this inconsistency. We will update the MSDN spec as soon as possible.

[2016-10-03 17:30] arturl commented on #842
Hi @zetanet,

I just submitted a fix for this bug, which looks like this: https://github.com/Azure/azure-iot-sdks/commit/da20d49f295dde600cdfb8e92a9dda8740e1205f.
Both Azure.Devices.Client and AMQP library were broken in the same way. The fix above is for Azure.Devices.Client. The fix for AMQP is going to be the same -- making its way through our checkin system now.

[2016-10-03 23:20] jtanner-msft commented on #777
Hi @AlexandreMarechalSE,
  I'm going to close the issue as I haven't heard anything back from you in a bit.  If you still observe the same problem in the future please do let us know.  Thank you for the report.

[2016-10-03 23:20] #777 closed

[2016-10-04 00:53] pierreca commented on #852
hi @bmrpatel

What OS are you using?

The `amqp10` library in our SDK is currently configured to call the callback only when the message gets settled, which cannot happen when disconnected. I have to look at why the messages being flagged as pending don't get their callback failed when the connection get disconnected though. Maybe @mbroadst and @noodlefrenzy can help?

On Windows, the `disconnect`

[2016-10-04 01:00] pierreca commented on #850
Unfortunately, throwing in case of a missing callback would be an API-breaking change, so we really can't do that. it was an early decision to make callbacks optional. This is still valid in case we find time to implement Promises support in the future. (I'd like to get to a point where I can return a Promise when a callback is undefined and allow both async patterns).

What we can do however is f

[2016-10-04 01:12] sputnick commented on #850
The api call was just client.open(connectCallback). You don't really have to throw the error up the stack in my view which would break the API like you say. It would be enough to simply log/print that the callback was undefined rather than failing completely with that cryptic message - at least until the method returns a Promise that could pass on the error. This "gotcha" likely only happens to ne

[2016-10-04 09:05] enuysa-msft commented on #837
Hi @lmussier,

The change is in develop branch of azure-iot-sdks. Could you please check it  and let me know?

Regards

[2016-10-04 09:11] lmussier commented on #748
@anhashia I've retested and results are the same as @rolandkru.
The weird behavior is still there.

Thanks for investigating.

[2016-10-04 12:41] mbroadst commented on #852
hey guys, could you give this commit a try: https://github.com/noodlefrenzy/node-amqp10/commit/98bd73498549cc48eb6ee64588b0cd7febee7cea. I think it should resolve your issue.

[2016-10-04 13:18] lmussier commented on #837
Hi @enuysa-msft the install is good for me since I only use amq over websockets, but shouldn't iothubtransporthttp.h and iothubtransporthttp.h being installed too ?

But for the particular case of amqp_ws it's good.

[2016-10-04 14:05] enuysa-msft commented on #837
Hi @lmussier,

I have checked  iothubtransporthttp.h with enabling http

`./build.sh --use-websockets --no-mqtt --no_uploadtoblob`

and I can see this file inside azure_iot/usr/local/include/azureiot/iothubtransporthttp.h

[2016-10-04 15:45] rajeevmv commented on #851
Customer has verified that it was an issue with his environment.

Closing this issue.

[2016-10-04 15:45] #851 closed

[2016-10-04 16:22] pierreca commented on #852
@mbroadst thanks for the quick turn-around!
I did a quick test and the behavior is still the same, I don't see the promise returned by `send` ever get rejected after we get disconnected. It's very possible that the problem lies in how we call the `amqp10` library though (here: https://github.com/Azure/azure-iot-sdks/blob/master/node/common/transport/amqp/lib/amqp.js#L160)

I do get the `connection

[2016-10-04 16:25] mbroadst commented on #852
you should verify if you are following this path: https://github.com/Azure/azure-iot-sdks/blob/master/node/common/transport/amqp/lib/amqp.js#L179. The code I pushed this morning indeed reject's the promise if a forceDetach occurs (this is what happens on shutdown with left-over open links), so first make sure you are seeing that behavior as well before tracking down the culprit in your code - I mi

[2016-10-04 16:32] bmrpatel commented on #852
Thanks @pierreca, I am using Linux (Ubuntu).

@mbroadst I tried to replace this file directly into my node_modules folder and did some testing. Result is still the same as before.

Here is what I am doing:
- Start the application while it is connected to network _(initialize client, subscribe to `disconnect` event and send test message)_
- after sometime disconnect the network.
- wait for 10 mins

[2016-10-04 16:36] #848 closed

[2016-10-04 17:03] anhashia commented on #833
Closing. Please re-activate if you still are having issues. Thanks !

[2016-10-04 17:03] #833 closed

[2016-10-04 17:17] tameraw commented on #741
@lmussier - As we released a new public preview for Azure IoT Hub Device Management, we moved the related code and samples that were in this branch to a different repository. You can now find all Device Twins, Device Methods, and Device Management related code in this new repository: https://github.com/azure/azure-iot-sdks-preview. The current dmpreview branch should be considered  obsolete.
Closi

[2016-10-04 17:17] #741 closed

[2016-10-04 17:18] tameraw commented on #688
@zafields  - As we released a new public preview for Azure IoT Hub Device Management, we moved the related code and samples that were in this branch to a different repository. You can now find all Device Twins, Device Methods, and Device Management related code in this new repository: https://github.com/azure/azure-iot-sdks-preview. The current dmpreview branch should be considered  obsolete.
Clos

[2016-10-04 17:18] #688 closed

[2016-10-04 17:22] tameraw commented on #803
@kevinledinh - Closing issue. Please feel free to let us know if you're still encountering problems. Thanks.

[2016-10-04 17:22] #803 closed

[2016-10-04 17:33] pierreca commented on #838
Closing assuming it's resolved. Feel free to reopen if that wasn't the case.

[2016-10-04 17:33] #838 closed

[2016-10-04 17:33] tameraw commented on #735
@AlexandreMarechalSE - Thanks for your contribution. Closing this as I believe all your concerns have been addressed. If still encountering issues, please let us know. Thanks.

[2016-10-04 17:33] #735 closed

[2016-10-04 17:43] jtanner-msft commented on #604
As an update I've been able to repro that the disconnect event does not appear to be exposed on Linux.  I'm in the process of trying to determine at what level it is or is not getting passed along.

[2016-10-04 19:03] olivierbloch commented on #714
I have addressed this in this [commit](https://github.com/Azure/azure-iot-sdks/commit/10b787ba764571e616519a1948afb58ed4c46c6a)

[2016-10-04 19:03] #714 closed

[2016-10-04 19:43] tameraw commented on #840
@lruchandani - A PR related to this issue has been merged. Please let us know if still having any issues.
Thanks.

[2016-10-04 19:43] #840 closed

[2016-10-04 19:54] tameraw commented on #776
@tkysmz - FYI - This is currently a work-in-progress.
Regards.

[2016-10-04 22:11] prbarl opened #858 "azure-iot-sdks\node\build\dev-setup.cmd gives openssl_conf environment variable must be defined error"
Hi,

As part of dev setup for running nodejs sample I am getting the above mentioned error . ANy idea?

Regards,
Praveen

[2016-10-04 22:21] pierreca commented on #852
@bmrpatel regarding your last comment on the `EventEmitter` leak: could it be that you are creating the client with a `ConnectionString` rather than a `SharedAccessSignature` ? what you describe sounds a lot like a bug we're currently investigating.

[2016-10-04 22:27] bmrpatel commented on #852
@pierreca Yes, I am using the `ConnectionString` to create the `Client`. Can you reference that bug here? Thanks

[2016-10-04 23:10] pierreca commented on #852
Bug is not a GitHub issue, it's something we came up with internally. I'll update this issue with a reference to the commit when the fix gets checked in.

[2016-10-04 23:16] pierreca commented on #858
You need to set the OPENSSL_CONF environment variable (to anything really, it doesn't matter unless you run the build scripts, which you shouldn't need to do).

Context: Our build runs integration and end-to-end tests that require creating a device that authenticate using x509 certificates. We rely on OpenSSL to generate that certificate. The test for this variable belongs in the build.cmd script

[2016-10-04 23:36] anhashia commented on #748
Hi @lmussier @rolandkru
Yeah, I am able to reproduce the issue if I use **longer** disconnect interval (like 5 minutes versus 30 seconds that I was previously using).

Right now, server (Azure IoT Hub) is configured to send ping after **105** seconds and client is also configured to send pings. If server  doesn't hear back from the client in number of attempts it will just disconnect the client. I

[2016-10-05 00:27] markrad commented on #853
Hi @danstoian,

I reviewed your pull request but you unfortunately made it against the master branch. I can't merge anything into that branch. The develop branch has undergone a significant reorganization so I was having difficulty getting a clean merge of your changes into that branch.

To try and circumvent this, I loaded the develop branch version of iothub_csharp_deviceclient.sln into Visual S

[2016-10-05 02:01] brwhaley commented on #580
I've rebuilt the SDK (10/3/2016) but still encounter the issue above on the Edison.  The TrustedCerts workaround does mitigate the issue, but doesn't seem like a good long-term solution.  I've seen speculation that updating OpenSSL might fix the problem -- has anyone actually seen that work?  Thank you.

[2016-10-05 06:40] lmussier commented on #837
@enuysa-msft You are right, I completly forget that I'm compiling with only amq 👎
Sorry for that.

[2016-10-05 06:40] #837 closed

[2016-10-05 09:02] bluemurder commented on #841
Hello,
I tried to build the C sdk on a Ubuntu 16.04 LTS, as described in [https://github.com/Azure/azure-iot-sdks/blob/master/c/doc/devbox_setup.md#linux](https://github.com/Azure/azure-iot-sdks/blob/master/c/doc/devbox_setup.md#linux).
Also in my case I cloned the repository and built with following commands:
[code]
Showing the errors below:
[code]
With the command `./build.sh --use-websockets --

[2016-10-05 12:16] guybartal commented on #838
it's working now, thanks!

I have another issue regarding the feedback message.. I don't receive the message properties back from the original message.

[https://github.com/smart-home-bot/bot/blob/master/app.js](https://github.com/smart-home-bot/bot/blob/master/app.js) line number 68

I want to store information in the c2d which I need to have it back in the feedback message. what is the proper wa

[2016-10-06 03:55] mupparajuvamsi opened #859 "Iothub Sending and Receiving Messages C2D and D2C"
i am using this for sending and receiving message
https://github.com/Azure/azure-iot-sdks/blob/master/java/device/samples/send-receive-sample/src/main/java/samples/com/microsoft/azure/iothub/SendReceive.java
using this i am able to send while doing that i am getting a iothubstatuscode of OK_EMPTY
while receiving in the setMessageCallBack it is checking com.microsoft.azure.iothub.transport.https.Ht

[2016-10-06 05:43] IngoMaindorfer opened #860 "SDK fails if no Internet connection is available at startup"
Hi there,
we use SDK from 2016-09-09 on Linux with MQTT as transport and observed, that the SDK have some issues with Internet availability on start up.
If there is no Internet, SDK try to connect, which is ok.
If Internet come up, SDK still try to connect even after 15 minutes after Internet connection is stable.

It seems that there are two different behaviours: one is like you have no Internet

[2016-10-06 09:49] Jokymon commented on #748
@anhashia is the work on the client side what is tracked in [Project 2](../projects/2)? Do you already have any time frame for when this will be implemented?

[2016-10-06 10:05] mupparajuvamsi opened #861 "Iothub Sending and Receiving Messages C2D and D2C"
Hi i have two applications running From Application 1 i will send data and that has to be received by Application 2 and  in turn   it will return some message back to Application 1  which is different message .Can u send  any readily Available documentation(links) for this scenario as it is IotHub Bi Directional in nature.This is very urgent requirement

[2016-10-06 15:22] mupparajuvamsi opened #862 "Iothub Sending and Receiving Messages"
From this Documentation i am able to send and receive messages outside the corporate network but it is failing ti receive messages inside the network due to firewall is there any way to change port other than 5671 while receiving https://azure.microsoft.com/en-in/documentation/articles/iot-hub-java-java-getstarted/  Can we receive messages after some time even after sender is not sending
![sender]

[2016-10-06 16:31] anhashia commented on #748
@Jokymon  Yeah, I think so.

[2016-10-06 20:19] olivierbloch commented on #861
Hi @mupparajuvamsi
It is not clear what runs where in your scenario (device vs. cloud).
Overall, a good starting point to learn more about Azure IoT Hub and what can be done with it is here: https://azure.microsoft.com/en-us/documentation/articles/iot-hub-devguide/

And here you can find the info about sending and receiving messages:
https://azure.microsoft.com/en-us/documentation/articles/iot-hub

[2016-10-06 20:31] olivierbloch commented on #862
Hi @mupparajuvamsi
I strongly recommend you read the developer guide for IoT Hub and more particularly the [messaging part of the guide](https://azure.microsoft.com/en-us/documentation/articles/iot-hub-devguide-messaging/) to get a good understanding of how IoT Hub works.
When reading messages from IoT Hub (as in reading D2C messages) you have to use AMQP which uses  port 5671. It is expected that

[2016-10-06 20:34] olivierbloch commented on #862
Also, for this kind of questions related to IoT Hub usage scenarios, I recommend you post your questions on [Stack Overflow](http://stackoverflow.com/search?q=azure+iot). There is a growing community of developers there who are using Azure IoT Hub in many different ways to implement a plethora of different types of IoT solutions and scenarios that we hadn't even imagined possible :-)

[2016-10-06 21:15] markrad commented on #752
Hi @Jokymon,

The task to make the SDK properly installable on all platforms is currently being implemented by the product group. It's quite a large work item so it will be a while before it is ready. However, since it is being addressed I am closing this issue.

Thank you.

_Mark Radbourne MSFT_